@font-face {
	font-family: 'customavatars';
	src:url('/fonts/customavatars/customavatars.eot?41kyle');
	src:url('/fonts/customavatars/customavatars.eot?#iefix41kyle') format('embedded-opentype'),
		url('/fonts/customavatars/customavatars.ttf?41kyle') format('truetype'),
		url('/fonts/customavatars/customavatars.woff?41kyle') format('woff'),
		url('/fonts/customavatars/customavatars.svg?41kyle#customavatars') format('svg');
	font-weight: normal;
	font-style: normal;
}

.custom-avatar{
	font-family: 'customavatars';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.custom-avatar-beard-06:before {
	content: "\e600";
}
.custom-avatar-beard-05:before {
	content: "\e601";
}
.custom-avatar-beard-04:before {
	content: "\e602";
}
.custom-avatar-beard-03:before {
	content: "\e603";
}
.custom-avatar-beard-02:before {
	content: "\e604";
}
.custom-avatar-beard-01:before {
	content: "\e605";
}
.custom-avatar-glasses-05:before {
	content: "\e606";
}
.custom-avatar-glasses-04:before {
	content: "\e607";
}
.custom-avatar-glasses-03:before {
	content: "\e608";
}
.custom-avatar-glasses-02 div:nth-child(1):before{
	content: "\e609";
	color: rgb(123, 121, 120);
}
.custom-avatar-glasses-02 div:nth-child(2):before{
	content: "\e60a";
	
	color: rgb(123, 121, 120);
}
.custom-avatar-glasses-02 div:nth-child(3):before{
	content: "\e60b";
	
	color: rgb(123, 121, 120);
}
.custom-avatar-glasses-02 div:nth-child(4):before{
	content: "\e60c";
	
	color: rgb(123, 121, 120);
}
.custom-avatar-glasses-02 div:nth-child(5):before{
	content: "\e60d";
	
	color: rgba(32, 33, 28, 0.8);
}
.custom-avatar-glasses-02 div:nth-child(6):before{
	content: "\e60e";
	
	color: rgba(243, 245, 245, 0.2);
}
.custom-avatar-glasses-02 div:nth-child(7):before{
	content: "\e60f";
	
	color: rgba(32, 33, 28, 0.8);
}
.custom-avatar-glasses-02 div:nth-child(8):before{
	content: "\e610";
	
	color: rgba(243, 245, 245, 0.2);
}
.custom-avatar-glasses-01:before {
	content: "\e611";
}
.custom-avatar-lips-01:before {
	content: "\e612";
}
.custom-avatar-hair-07:before {
	content: "\e613";
}
.custom-avatar-hair-06:before {
	content: "\e614";
}
.custom-avatar-hair-05:before {
	content: "\e615";
}
.custom-avatar-hair-04:before {
	content: "\e616";
}
.custom-avatar-hair-03:before {
	content: "\e617";
}
.custom-avatar-hair-02:before {
	content: "\e618";
}
.custom-avatar-hair-01:before {
	content: "\e619";
}
.custom-avatar-ears-shadow:before {
	content: "\e61a";
}
.custom-avatar-shirt-23-custom:before {
	content: "\e61b";
}
.custom-avatar-shirt-22 div:nth-child(1):before{
	content: "\e61c";
	color: rgb(248, 246, 224);
}
.custom-avatar-shirt-22 div:nth-child(2):before{
	content: "\e61d";
	
	color: rgb(54, 45, 30);
}
.custom-avatar-shirt-21:before {
	content: "\e61e";
}
.custom-avatar-shirt-20:before {
	content: "\e61f";
}
.custom-avatar-shirt-19 div:nth-child(1):before{
	content: "\e620";
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-19 div:nth-child(2):before{
	content: "\e621";
	
	color: rgb(61, 32, 20);
}
.custom-avatar-shirt-19 div:nth-child(3):before{
	content: "\e622";
	
	color: rgb(71, 77, 103);
}
.custom-avatar-shirt-19 div:nth-child(4):before{
	content: "\e623";
	
	color: rgb(71, 77, 103);
}
.custom-avatar-shirt-19 div:nth-child(5):before{
	content: "\e624";
	
	color: rgb(71, 77, 103);
}
.custom-avatar-shirt-19 div:nth-child(6):before{
	content: "\e625";
	
	color: rgb(71, 77, 103);
}
.custom-avatar-shirt-19 div:nth-child(7):before{
	content: "\e626";
	
	color: rgb(71, 77, 103);
}
.custom-avatar-shirt-19 div:nth-child(8):before{
	content: "\e627";
	
	color: rgb(71, 77, 103);
}
.custom-avatar-shirt-19 div:nth-child(9):before{
	content: "\e628";
	
	color: rgb(71, 77, 103);
}
.custom-avatar-shirt-19 div:nth-child(10):before{
	content: "\e629";
	
	color: rgb(71, 77, 103);
}
.custom-avatar-shirt-19 div:nth-child(11):before{
	content: "\e62a";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(12):before{
	content: "\e62b";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(13):before{
	content: "\e62c";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(14):before{
	content: "\e62d";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(15):before{
	content: "\e62e";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(16):before{
	content: "\e62f";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(17):before{
	content: "\e630";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(18):before{
	content: "\e631";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(19):before{
	content: "\e632";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(20):before{
	content: "\e633";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-19 div:nth-child(21):before{
	content: "\e634";
	
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-19 div:nth-child(22):before{
	content: "\e635";
	
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-18 div:nth-child(1):before{
	content: "\e636";
	color: rgb(107, 115, 151);
}
.custom-avatar-shirt-18 div:nth-child(2):before{
	content: "\e637";
	
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-17 div:nth-child(1):before{
	content: "\e638";
	color: rgb(247, 248, 249);
}
.custom-avatar-shirt-17 div:nth-child(2):before{
	content: "\e639";
	
	color: rgb(247, 248, 249);
}
.custom-avatar-shirt-17 div:nth-child(3):before{
	content: "\e63a";
	
	color: rgb(75, 61, 42);
}
.custom-avatar-shirt-17 div:nth-child(4):before{
	content: "\e63b";
	
	color: rgb(75, 61, 42);
}
.custom-avatar-shirt-16 div:nth-child(1):before{
	content: "\e63c";
	color: rgb(164, 30, 34);
}
.custom-avatar-shirt-16 div:nth-child(2):before{
	content: "\e63d";
	
	color: rgb(70, 74, 76);
}
.custom-avatar-shirt-15:before {
	content: "\e63e";
}
.custom-avatar-shirt-14:before {
	content: "\e63f";
}
.custom-avatar-shirt-13:before {
	content: "\e640";
}
.custom-avatar-shirt-12 div:nth-child(1):before{
	content: "\e641";
	color: rgb(6, 7, 6);
}
.custom-avatar-shirt-12 div:nth-child(2):before{
	content: "\e642";
	
	color: rgb(81, 104, 140);
}
.custom-avatar-shirt-12 div:nth-child(3):before{
	content: "\e643";
	
	color: rgb(81, 104, 140);
}
.custom-avatar-shirt-12 div:nth-child(4):before{
	content: "\e644";
	
	color: rgb(67, 86, 110);
}
.custom-avatar-shirt-12 div:nth-child(5):before{
	content: "\e645";
	
	color: rgb(72, 94, 126);
}
.custom-avatar-shirt-12 div:nth-child(6):before{
	content: "\e646";
	
	color: rgb(71, 71, 66);
}
.custom-avatar-shirt-12 div:nth-child(7):before{
	content: "\e647";
	
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-12 div:nth-child(8):before{
	content: "\e648";
	
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-11 div:nth-child(1):before{
	content: "\e649";
	color: rgb(221, 168, 142);
}
.custom-avatar-shirt-11 div:nth-child(2):before{
	content: "\e64a";
	color: rgb(34, 55, 39);
}
.custom-avatar-shirt-11 div:nth-child(3):before{
	content: "\e64b";
	
	color: rgb(34, 55, 39);
}
.custom-avatar-shirt-11 div:nth-child(4):before{
	content: "\e64c";
	
	color: rgb(34, 55, 39);
}
.custom-avatar-shirt-11 div:nth-child(5):before{
	content: "\e64d";
	
	color: rgb(34, 55, 39);
}
.custom-avatar-shirt-10 div:nth-child(1):before{
	content: "\e64e";
	color: rgb(248, 246, 224);
}
.custom-avatar-shirt-10 div:nth-child(2):before{
	content: "\e64f";
	
	color: rgb(248, 246, 224);
}
.custom-avatar-shirt-10 div:nth-child(3):before{
	content: "\e650";
	
	color: rgb(248, 246, 224);
}
.custom-avatar-shirt-10 div:nth-child(4):before{
	content: "\e651";
	
	color: rgb(248, 246, 224);
}
.custom-avatar-shirt-10 div:nth-child(5):before{
	content: "\e652";
	
	color: rgb(248, 246, 224);
}
.custom-avatar-shirt-10 div:nth-child(6):before{
	content: "\e653";
	
	color: rgb(248, 246, 224);
}
.custom-avatar-shirt-10 div:nth-child(7):before{
	content: "\e654";
	
	color: rgb(41, 32, 19);
}
.custom-avatar-shirt-09 div:nth-child(1):before{
	content: "\e655";
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-09 div:nth-child(2):before{
	content: "\e656";
	
	color: rgb(164, 30, 34);
}
.custom-avatar-shirt-09 div:nth-child(3):before{
	content: "\e657";
	
	color: rgb(164, 30, 34);
}
.custom-avatar-shirt-08 div:nth-child(1):before{
	content: "\e658";
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-08 div:nth-child(2):before{
	content: "\e659";
	
	color: rgb(135, 188, 183);
}
.custom-avatar-shirt-08 div:nth-child(3):before{
	content: "\e65a";
	
	color: rgb(130, 25, 27);
}
.custom-avatar-shirt-08 div:nth-child(4):before{
	content: "\e65b";
	
	color: rgb(130, 25, 27);
}
.custom-avatar-shirt-08 div:nth-child(5):before{
	content: "\e65c";
	
	color: rgb(130, 25, 27);
}
.custom-avatar-shirt-08 div:nth-child(6):before{
	content: "\e65d";
	
	color: rgb(130, 25, 27);
}
.custom-avatar-shirt-08 div:nth-child(7):before{
	content: "\e65e";
	
	color: rgb(130, 25, 27);
}
.custom-avatar-shirt-08 div:nth-child(8):before{
	content: "\e65f";
	
	color: rgb(130, 25, 27);
}
.custom-avatar-shirt-08 div:nth-child(9):before{
	content: "\e660";
	
	color: rgb(130, 25, 27);
}
.custom-avatar-shirt-08 div:nth-child(10):before{
	content: "\e661";
	
	color: rgb(130, 25, 27);
}
.custom-avatar-shirt-08 div:nth-child(11):before{
	content: "\e662";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(12):before{
	content: "\e663";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(13):before{
	content: "\e664";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(14):before{
	content: "\e665";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(15):before{
	content: "\e666";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(16):before{
	content: "\e667";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(17):before{
	content: "\e668";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(18):before{
	content: "\e669";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(19):before{
	content: "\e66a";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(20):before{
	content: "\e66b";
	
	color: rgb(30, 31, 24);
}
.custom-avatar-shirt-08 div:nth-child(21):before{
	content: "\e66c";
	
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-08 div:nth-child(22):before{
	content: "\e66d";
	
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-07:before {
	content: "\e66e";
}
.custom-avatar-shirt-06 div:nth-child(1):before{
	content: "\e66f";
	color: rgb(120, 171, 220);
}
.custom-avatar-shirt-06 div:nth-child(2):before{
	content: "\e670";
	
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-05 div:nth-child(1):before{
	content: "\e671";
	color: rgb(138, 91, 90);
}
.custom-avatar-shirt-05 div:nth-child(2):before{
	content: "\e672";
	
	color: rgb(34, 55, 39);
}
.custom-avatar-shirt-04:before {
	content: "\e673";
}
.custom-avatar-shirt-03:before {
	content: "\e674";
}
.custom-avatar-shirt-02 div:nth-child(1):before{
	content: "\e675";
	color: rgb(41, 48, 44);
}
.custom-avatar-shirt-02 div:nth-child(2):before{
	content: "\e676";
	color: rgb(41, 48, 44);
}
.custom-avatar-shirt-02 div:nth-child(3):before{
	content: "\e677";
	color: rgb(182, 85, 40);
}
.custom-avatar-shirt-02 div:nth-child(4):before{
	content: "\e678";
	color: rgb(182, 85, 40);
}
.custom-avatar-shirt-02 div:nth-child(5):before{
	content: "\e679";
	color: rgb(73, 124, 124);
}
.custom-avatar-shirt-02 div:nth-child(6):before{
	content: "\e67a";
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-02 div:nth-child(7):before{
	content: "\e67b";
	color: rgb(255, 255, 255);
}
.custom-avatar-shirt-01:before {
	content: "\e67c";
}
.custom-avatar-body:before {
	content: "\e67d";
}

.my-avatar{
	float: left;
	width: 200px;
	height: 210px;
	font-size: 200px;
	position: relative;
	display: block;
	text-align: center;
	border: solid 5px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 10px #666;
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
.icon-user{
	text-align: center;
	display: inline-block;
	display: block;
	width: 100%;
	height: 100%;
	font-size: inherit;
	position: relative;
}
.custom-avatar, .custom-avatar div{
	position: absolute;
	font-size: inherit;
	
	right: 0;
    left: 0;
    margin: auto;
}