.action-badge{
	display: block;
	background: #efefef;
	line-height: normal;
	margin-bottom: 5px;
	font-size: 12px;
	float: left;
	width: 100%;
	color: #333;
	border: solid 1px #E4E4E4;
}
.action-badge a{
	color: #333;
}
.action-badge-icon{
	float: left;
	width: 20%;
	text-align: center;
	padding: 10px 0px;
}
.action-badge-text{
	float: left;
	width: 80%;
	background: #efefef;
	padding:15px 10px;
	color: #333;
}
.hours-tutors .action-badge-icon{
	background: #3f51b5;
	color: #fff;
}
.background-check{
	background: #57ce0d;
	color: #fff;
}
.star-score-average{
	background: #ff9800;
	color: #fff;
}
.negotiable-price{
	background: #0069bd;
	color: #fff;
}
.total-reviews{
	background: #2196F3;
	color: #fff;
}
.total-students{
	background: #8f00dd;
	color: #fff;
}

.action-badge:last-child{
	margin-bottom: 0px;
}

.no-bottom{
	margin-bottom: 0px;
}
.imatutor{
	background: #fff;
	border: solid 1px #ccc;
	margin-bottom: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
}
.imatutor .image{
	text-align: center;
	margin: 0px;
	padding: 0px;
	line-height: normal;
}
.imatutor .image img{
	max-width: 100%;
	max-height: 300px;
	display: inline-block;
}
/*.short-description a{
	color: #333;
}
.short-description a:hover{
	background: #333;
	color: #fff;
}*/
.my-rate{
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	font-size: 18px;
	background: #666;
	padding: 2px 10px;
}
.my-rate-negotiableprice{
	background: #0069bd;
	position: relative;
	padding: 2px 15px 2px 10px;
}
.my-rate-negotiableprice i{
	color: #fff;
	right: 2px;
	top:2px;
	font-size: 11px;
	position: absolute;
}
.my-rate span{
	font-size: 12px;
	color: #ccc;
}
.im-a-tutor-short{
	text-transform: capitalize;
	font-size: 22px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid 1px #ccc;
}
/*.im-a-tutor-short a{
	color: #6fe4de;
}
.im-a-tutor-short a:hover{
	color: #84e000;
}*/
.im-a-tutor-long{
	color: #666;
	font-size: 14px;
	margin-bottom: 10px;
}
.subject-i-tutor{

}
.subjects-i-tutor-title{
	font-weight: bold;
}
.subjects-i-tutor-subs{
	font-size: 13px;
	color: #888;
}
.my-subject-container{
	margin-top: 15px;
	font-size: 12px;
}
.un-verified{
	color: #999;
}
.my-info{
	margin-bottom: 15px;
}


.message-dates{
    margin-bottom: 15px;
    font-size: 13px;
    color: #666;
}
.previous-next-nav-left{
    float: left;
}
.previous-next-nav-right{
    float: right;
}
.previous-next-nav{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.previous-next-nav a{
    color: #ccc;
}




/* Ivan new style start here. */

body{
	    font-family: 'Open Sans', 'Arial', sans-serif;
			font-size: 18px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Overlock SC', cursive;
}
h2 {
	color:#0321a4;
}
h3 {
	color:#0321a4;
}

main .container {
    background:transparent;
}

.tutor-results ,.message-blocks{
    /*background: #CEF6CE;*/
}

.collection{
	background: transparent;
}
.collection-item {
	background : transparent;
}
.signup-mid li{
		margin-left:20px !important;
}

.application-process ol li{
  padding-left:5px  !important;
}

.turquoise-text{
    color:#6fe4de;
}

.affiliate-img{
		width:100px;
}
. message-buttons{
	display: inline-block;
}
.message-buttons ul li{
		list-style-type: none;
		width: 100px;
		float: left;
		margin-left: 10px;
}

.tutoring-block a.blue,searching-results a.blue {
		display: none;
}

a:hover.btn{
	color:#000;
}
.round-icons{
	border-radius: 50%;
}
  /* ----------- Retina Screens ----------- */


  @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 3600px)
    and (-webkit-min-device-pixel-ratio: 1) {

      html,body {
                }
        h1 {
          font-size: 2.6em;
        }
        h2 {
          font-size: 2.4rem;
					color:#0321a4;
        }
        h3 {
          font-size: 1.6rem;
					color:#0321a4;
        }
        h4 {
          font-size: 1.2rem;
        }
        h5 {
          font-size: 0.7rem;
        }
        h6 {
          font-size: 0.5rem;
        }

  }


/*# sourceMappingURL=avidbrain.css.map */
