@charset "utf-8";

table.condensed tr td{
	padding: 5px;
}

.howitworks-img{
	border: solid 10px transparent;
}
.how-it-works-1{background:#01c6d9;}
.how-it-works-2{background:#f4db81;}
.how-it-works-3{background:#d5c5a3;}
.how-it-works-4{background:#a7dab1;}
.how-it-works-5{background:#99d02c;}
.how-it-works-6{background:#5ab97f;}
.how-it-works-7{background:#fecc2f;}
.how-it-works-8{background:#fb4a36;}
.how-it-works-9{background:#b2bc39;}
.how-it-works-10{background:#4fa1c9;}
.how-it-works-11{background:#a864af;}
.how-it-works-12{background:#fa8d64;}
.how-it-works-13{background:#00bae7;}
.how-it-works-14{background:#278b2b;}
.how-it-works-15{background:#00867f;}


.student-signup{
	border-bottom: solid 4px #dcdcdc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.student-signup .how-it-works{

}
.student-signup .how-it-works.active{

}
.main-signup.main-student .collection i{
	font-size: 25px;
}
#field_signup_promocode{
	background: #EEF9FF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.active-promo #field_signup_promocode input{
	color: #2196F3;
	font-weight: bold;
}
#field_signup_first_name, #field_signup_last_name, #field_signup_password, #field_signup_password_confirm,
#field_contestform_first_name, #field_contestform_last_name, #field_contestform_city, #field_contestform_state, #field_contestform_zipcode, #field_contestform_phone
 {
	width: 50%;
}

#field_becomeatutor_first_name, #field_becomeatutor_last_name, #field_becomeatutor_phone, #field_becomeatutor_promocode, #field_becomeatutor_password, #field_becomeatutor_password_confirm{
width: 50%;
}

.signupbutton{
	font-size: 1.3rem;
}
.signupbutton i{
	color: #b2ff59;
}
.signupbutton.bottom{
	margin-top: 15px;
}

.confirm-submit-action{
  -webkit-animation: jobfadeout .5s ;
  -moz-animation:    jobfadeout .5s ;
  -o-animation:      jobfadeout .5s ;
  animation:         jobfadeout .5s ;
  background: #efefef; color: #efefef; opacity: .34;
  height: 0;
  overflow: hidden;
}
@-webkit-keyframes xxx {
  0%   { background: #fff; color: #222; opacity: 1; height: auto; }
  100% { background: #efefef; color: #efefef; opacity: .4; height: 0px; }
}
@-moz-keyframes xxx {
  0%   { background: #fff; color: #222; opacity: 1; height: auto; }
  100% { background: #efefef; color: #efefef; opacity: .4; height: 0px; }
}
@-o-keyframes xxx {
  0%   { background: #fff; color: #222; opacity: 1; height: auto; }
  100% { background: #efefef; color: #efefef; opacity: .4; height: 0px; }
}
@keyframes xxx {
  0%   { background: #fff; color: #222; opacity: 1; height: auto; }
  100% { background: #efefef; color: #efefef; opacity: .4; height: 0px; }
}

.main-apply h3{
	margin-top: 40px;
}

.page--maincontest .navigation-right ul{
	margin: 0px;
}
.navigation-right ul li a.contestsignup{
	padding: 15px 0px;
}

.highlight{
	background: #c4ff00;
	padding: 1px 3px;
	color: #000;
}
.session-promotion{
	border: solid 2px #00c40e;
}
.example{
	color: #999;
}

.invite-area input{
	border: solid 1px #ccc;
}
.my-reward{
	border: dashed 1px #ccc;
}
.my-reward-value span, .my-reward-promo span{
	font-size: 18px;
	color: #00a60f;
	font-weight: bold;
}
.sendatext{
	padding: 10px;
	background: #e2ecee;
	position: relative;
}
.sendatext textarea{
	margin: 0px;
	padding-top: 0px;
}
.sendatext:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #e2ecee;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 15px;
}

.top-request{
	margin-top: 10px;
	margin-right: 10px;
}

.colors{
	padding: 10px;
	margin-bottom: 10px;
}
.colors .row{
	padding: 0px;
	margin: 0px;
}
.walk-order{
	margin-top: 15px;
	display: block;
	float: left;
	width: 100%;
}

/* Student Signup */
.signup-promo{
	font-size: 22px;
	text-align: center;
	padding: 15px;
	margin-bottom: 15px;
	display: inline-block;
	border: dashed 2px #efefef;
}
.mainstudent .signup-promo{
	margin-top: 15px;
}
.signup-promo span{
	color: yellow;
}
.form-parent .promocode{
	border: solid 5px #e74c3c;
	position: relative;
}
.form-parent .promocode:before{
	display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);
	content:"\f00c";
	background: #e74c3c;
	font-size: 30px;
	position: absolute;
	left: -50px;
	padding:5px 10px;
	top:145px;
	color: #fff;
}
.form-parent .promocode #field_signup_promocode{
	background: #efefef;
}
.form-parent #field_signup_promocode input{
	color: #e74c3c;
}
.form-parent .promocode .form-submit button{
	background: #e74c3c !important;
}
.form-parent .promocode .notify-user{
	background: #e74c3c;
	color: #fff;
}

.mainpagenotfound h1{
	background: #333;
	color: #cf0054;
	color: #FF0066;
	background: #FF0066;
	color: #333;
	display: inline-block;
	padding: 5px 15px;
}

.collection .homepage-signup{
	padding: 10px;
	background: #f8f8f8;
	border: solid 2px #2196F3 !important;
}
.homepage-signup .form-parent{
	float: none;
}
.homepage-signup .form-parent form{
	border: none;
	margin: 0px;
	padding: 0px;
	background: transparent;
}
.signup-today{
	font-weight: bold;
	margin-bottom: 5px;
}
.homepage-signup .notify-user{
	display: none !important;
}
.apply-to-job .tutors-near-me{
	margin-bottom: 15px;
	margin-top: 10px;
}
.stripe-button-el{
	width: 100%;
}

.qalogin{
	position: fixed;
	width: 100%;
	left: 0px;
	top:100px;
	z-index: 99999999;
}
.qalogin-text{
	display: none;
	padding: 20px 0px;
	background: #0087F2;
	color: #fff;
	text-align: center;

}
.qalogin-text i{
	font-size: 20px;
	display: inline-block;
	padding: 5px;
}

.college-tutors a.view-more{
	display: inline-block;
	text-align: center;
	padding: 0px;
	font-size: 22px;
	text-shadow: none;
	color: #2196F3;
	margin-top: -25px;
	float: left;
	width: 100%;
}
.main-content.main-find-a-tutor, .main-content.main-find-me-a-tutor, .main-content.main-tutor-finder{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
.main-tutor-finder .find-a-tutor{
	margin-bottom: 15px;
}
.valign-wrapper{
	width: 100%;
	text-align: center;
}
.college-tutors{
	margin-top: 20px;
	float: left;
	width: 100%;
}
.college-tutors a{
	position: relative;
	padding: 60px;
	text-align: center;
	width: 100%;
	font-family: 'Quicksand';
	font-size: 35px;
	font-weight: 700;
	color: #fff;
	background-size: cover;
	margin-bottom: 25px;
	text-shadow: 2px 2px #000;
}

.college-tutors a.biology{
	background-image: url('/images/subjects/biology.jpg');
}
.college-tutors a.writing{
	background-image: url('/images/subjects/writing.jpg');
}
.college-tutors a.chemistry{
	background-image: url('/images/subjects/chemistry.jpg');
}
.college-tutors a.economics{
	background-image: url('/images/subjects/economics.jpg');
}
.college-tutors a.philosophy{
	background-image: url('/images/subjects/philosophy.jpg');
}
.college-tutors a.psychology{
	background-image: url('/images/subjects/psychology.jpg');
}

.post-a-job{
	margin-top: 20px;
}

.show-prices div{
	padding: 10px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}
.form-parent  .getprices{
	margin: 0px;
	padding: 0px;
	border: none;
	margin-bottom: 10px;
}
#field_getprices_subject, #field_getprices_zipcode{
	width: 50%;
}


.activate-complete{
    width: 100%;
    float: left;
}
.activate-complete-middle{
    width: 10%;
    float: left;
	padding-top: 100px;
    font-family: 'Quicksand';
    font-size: 25px;
	font-weight: 700;
}
.activate-complete-left, .activate-complete-right{
    float: left;
    width: 45%;
    background: #efefef;
    background-size: cover;
}
.activate-complete-left{
	background-image: url('/images/subjects/liberalarts.jpg');
}
.activate-complete-right{
	background-image: url('/images/subjects/testprep.jpg');
}
.activate-complete a{
    display: block;
    padding: 100px 20px;
    width: 100%;
    font-family: 'Quicksand';
    color:#fff;
    font-size: 25px;
    font-weight: 700;

	text-shadow: 2px 2px #000;
}
.activate-complete a:hover{
	background: rgba(#000000, 0.7);
	background: red;
	background: rgba(0, 0, 0, 0.4);
}
.maincomplete .container.liu  {
	text-align: center;
}



.avid-brain-subjects a{
	display: block;
	padding: 5px;
}
.avid-brain-subjects a:hover{
	background: #fff;
}
.avid-brain-subjects a .badge{
	right:auto;
	margin-right: 5px;
	position: relative;;
}

.widecontentcontainer.container-fluid{
	padding-top: 350px;
}
.widecontentcontainer .left-navigation{
	margin-top: 15px;
}
.widecontent{
	position: fixed;
	width: 100%;
	background: #ccc;
	height: 350px;
	padding-top: 80px;
	float: left;
	z-index: 1;
	background-position: 0px 0px;
	background-size: cover;
	overflow: hidden;;
}
.widecontent .valign{
	width: 100%;
	text-align: center;
	font-family: 'Quicksand';
	font-weight: 700;
	font-size: 40px;
	font-size: 6vw;
	color:#fff;
	text-shadow: 0px 0px 20px black;
	padding: 0px 15px;
	line-height: normal;
}
.widecontent.science{
	background-image: url('/images/categories/science.jpg');
}
.widecontent.test-preparation{
	background-image: url('/images/categories/test-preparation.jpg');
}
.widecontent.math{
	background-image: url('/images/categories/math.jpg');
}
.widecontent.liberal-arts,.widecontent.english{
	background-image: url('/images/categories/liberal-arts.jpg');
}
.widecontent.studentsignup{
	background-image: url('/images/categories/student-signup.jpg');
}

.page--mainhowitworks .title{
	font-size: 24px;
	font-weight: 700;
	color: #333;
	font-family: 'Quicksand';

}
.page--mainhowitworks h3{
	font-size: 18px;
	font-weight: 700;
	color: #666;
	margin: 0px;
}
.sitemap a{
	display: block;
	padding: 4px;
	margin-bottom: 1px;
}
.sitemap a:hover{
	background: #ccc;
	color: #333;
}

.jobs-page-right{
	margin-top: 53px;
}

.widecontentcontainer .filter-by{
	margin-top: 15px;
}

.main-staff h1{
	margin-bottom: 15px;
}
.main-staff h2{
	color: #333;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
	font-size: 30px;
	border: none;
}
.main-staff h3{
	margin-bottom: 10px;
}

.main-staff.main-user h1{
	margin: 0px;
	padding: 0px;
}
.main-staff.main-user h2{
	margin-bottom: 15px;
}


/*New Order List*/
.new-order-list{
	width: 100%;
	background: #fff;
	border: solid 1px #ccc;
	padding: 10px;
	position: relative;
	max-height: 300px;
	overflow-y: auto;
	margin-bottom: 15px;
}
.block-list-user{

}
.new-order-list a.block-list{
	display: block;
	padding: 5px;
}
.new-order-list a.block-list:hover{
	background:#efefef;
	color:#333;
}
.new-order-list .badge{
	background: #0099ff;
	float: right;
	width: auto;
	height: auto;
	min-height: inherit;
	min-width: inherit;
	padding: 0px;
	position: relative;
	color:#fff;
	min-width: 26px;
	margin-left: 1px;
}

.new-order-list .block-list-user.active a{
	background:#0099ff;
	color:#fff;
}


.mainpaytutors .block-list a.active span{
	color:#ccc !important;
	float: right;
}


.sub-title{
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	border-bottom:solid 1px #efefef;
}
.sub-block{
	margin-bottom: 20px;
	width: 100%;
	float: left;
}
.one-last-red{
	text-align: center;
	padding: 5px;
}
.one-last-step{
	background: #00abff;
	padding: 10px;
	text-align: center;
	color:#fff;
}


/*Easy As Sunday Morning*/
.maineasy main{

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#47b5fb+0,63b6e9+44,b5d6e8+77 */
background: rgb(71,181,251); /* Old browsers */
background: -moz-linear-gradient(top, rgba(71,181,251,1) 0%, rgba(99,182,233,1) 44%, rgba(181,214,232,1) 77%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,181,251,1)), color-stop(44%,rgba(99,182,233,1)), color-stop(77%,rgba(181,214,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(71,181,251,1) 0%,rgba(99,182,233,1) 44%,rgba(181,214,232,1) 77%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(71,181,251,1) 0%,rgba(99,182,233,1) 44%,rgba(181,214,232,1) 77%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(71,181,251,1) 0%,rgba(99,182,233,1) 44%,rgba(181,214,232,1) 77%); /* IE10+ */
background: linear-gradient(to bottom, rgba(71,181,251,1) 0%,rgba(99,182,233,1) 44%,rgba(181,214,232,1) 77%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b5fb', endColorstr='#b5d6e8',GradientType=0 ); /* IE6-9 */
background-attachment: fixed;

}
.easy-signup{
    width: 80%;
	max-width: 1000px;
    display: block;
    margin:0 auto;
}
.easy-signup-inside{
    width: 100%;
    float: left;
}
.easy-signup .btn{
    padding: 10px;
    font-size: 20px;
    background: #3769cc;
}
.input-wrap{
    margin-bottom: 15px;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #0077c4;
    height: 52px;
	position: relative;
}
.input-wrap.required-field:before{
	width: 10px;
	height: 10px;
	color: red;
	font-size: 22px;
	position: absolute;
	content: "*";
	right:5px;
	top:0px;
}
.easy-signup input{
    padding: 0px;
    border: none;
    margin: 0px;
    line-height: normal;
	border: none !important;
	box-shadow: none !important;
	background: transparent !important;
}
.easy-signup-title{
    font-size: 40px;
    color:#fff;
    text-align: center;
    font-family: 'Quicksand';
	line-height: normal;
}
.easy-signup-title span{
    font-size: 45px;
}
.easy-signup-phrase{
    color:#fff;
    text-align: center;
}
.easy-signup-tiny{
    font-size: 12px;
    margin-top: -25px;
    text-align: center;
    color:#fff;
    margin-bottom: 10px;
}
.easy-signup-tiny a{
    color:#d9f4ff;
    text-decoration: underline;
}
.maineasy .slide-down{
    background: #96FF00;
    color:#000;
}


.share-on-facebook{
	display: inline-block;
	padding: 5px 15px;
	background: #3a5795;
	color:#fff;
}
.share-on-facebook i{
	font-size: 18px;
	display: inline-block;
	margin-right: 10px;
}


/*New Tutor Signup*/
.maintutor header, .mainstudent header{
	position: absolute;
}
.maintutor main{
	/*background: url('/images/subs/become-a-tutor3.jpg') top left no-repeat ;*/
	background-image: url('/images/subs/become-a-tutor3.jpg');
	background-repeat: repeat-x;
	background-position: top left;
	background-attachment: scroll;

}
.maintutor.newyork main{
	background-image: url('/images/subs/new-york.jpg');
}
.maintutor.boston main{
	background-image: url('/images/subs/boston.jpg');
}
.maintutor.austin main{
	background-image: url('/images/subs/austin.jpg');
}
.maintutor.washingtondc main{
	background-image: url('/images/subs/washingtondc.jpg');
}
.maintutor.sanfrancisco main{
	background-image: url('/images/subs/sanfrancisco.jpg');
}
.maintutor.sandiego main{
	background-image: url('/images/subs/sandiego.jpg');
}
.maintutor.phoenix main{
	background-image: url('/images/subs/phoenix.jpg');
}

.maintutor.losangeles main{
	background-image: url('/images/subs/losangeles.jpg');
}

.maintutor.holidays main{
	background-image: url('/images/subs/holidays.jpg');
}


.mainstudent main{
	background: url('/images/subs/become-a-student.jpg') top left no-repeat ;
}
.maintutor main .container, .mainstudent main .container{
	max-width: 1200px;
}
.new-inputs{
	margin-bottom: 20px;
}
.tutor-block .form-post{

	padding: 0px;
}
.new-inputs label{
	color: #333;
}
.new-inputs .input-wrapper{
	border: 1px solid #dcdcdc;
    padding: 8px 12px;
	background: #fff;
}
.input-wrapper.holidays-activate{
	background: red;
}
.input-wrapper.holidays-activate input{
	font-size: 22px;
	text-align: center;
	color: #fff;
}
.promo-activate{
	padding:0px 13px;
}
.promo-activate .holidays-activate{

}
.input-wrapper.active-wrapper{
	-moz-box-shadow:inset 0 0 10px #000;
	-webkit-box-shadow:inset 0 0 10px #000;
	box-shadow:inset 0 0 10px #999;
	border: solid 2px #fff;
	background: #f0f0f0;
}
.input-wrapper.active-wrapper input{
	color:#666 !important;
	font-size: 22px;
}
.input-wrapper-text{
	color: #999;
	font-size: 14px;
}
.input-wrapper input, .input-wrapper textarea{
	border: none !important;
	box-shadow: none !important;
	background: transparent !important;
	margin: 0px;
	padding: 0px;
	line-height: normal;
	font-size: .8em;
}
.promocode-activated{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	padding: 0px 13px;
}
.promocode-activated-message{
	background: #333;
	padding: 10px;
	color:#bdff00;
	text-align: center;
	font-size: 16px;
}
.promocode-activated-message span{
	color:#fff;
}
.tutor-block{
	background: #f1f1f1;
	padding: 20px 10px;
}
.blocks{
	padding: 5px 25px;
}
.maintutor main .container{
	padding-top: 100px;

}
.new-signup h1, .new-signup h2{
	display:inline-block;
	color:#fff;
	line-height: normal;
	padding: 5px 10px;
}
.tutor-signup-title{
	position: relative;
	z-index: 333;
}
.tutor-signup-sub{
	position: relative;
	z-index: 222;
	margin-top: 0px;


}



.new-signup h1{
	font-size: 50px;
	padding: 0px;
	text-shadow: 2px 2px 5px #000;
}
.new-signup h2{
	font-size: 40px;
	padding: 0px;
	text-shadow: 2px 2px 5px #000;
}
.new-signup h3{
	margin-top: 15px;
	padding: 0px;
}
.signup-copy{
	color:#fff;
	font-size: 20px;
	min-height: 470px;
	text-shadow: 2px 2px 5px #000;
}
.new-signup .block{
	min-height: 400px;
}
.signup-title{
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
	text-transform:uppercase;
}
.page-title{
	font-family: 'Quicksand';
	font-weight: 700;
	font-size: 30px;
	line-height: normal;
}
.new-signup [type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #00ADFF;
    background-color: #00ADFF;
    z-index: 0;
}

.the-disclaimer{
	font-size: 11px;
	color:#999;
}
.new-signup #toast-container{

}
.spacer-block{
	width: 100%;
	height:370px;
}


.input-wrapper.required-field{
	border: solid 1px #333;
}


.pay-class #field_setupsession_session_rate input{
	background: #efefef;
	margin-top: 5px;
	color: #222;
	border-bottom: solid 2px #09f;
	font-size: 18px;
}
.pay-class #field_setupsession_session_rate:after{
	content: "Previous Session Rate";
	font-size: 12px;
	position: absolute;
	background: #09f;
	color: #fff;
	padding: 4px;
	top:37px;
	z-index: 3333;
}


/*New Signup*/
.newsignup main{
    background: #efefef;
}
.newsignup main .container{

}
.newsignup main .container h1{
    color: #000;
    text-shadow: none;
}
.newsignup .header-nav li{
    display: none;
}
.newsignup .header-nav li.show{
    display: block;
}
.newsignup .header-nav li.show a{
    color: #96FF00;
}
.your-cropped-photo{
	text-align: center;
	margin-bottom: 15px;
	font-size: 16px;
}


/*BG CHECK*/
.help-info{
    background: #efefef;
    padding: 10px;
    border: solid 1px #ccc;
}
.start-background-check{
    text-align: center;
    padding: 10px;
    background: #0099ff;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.start-background-check:hover{
    background: #0077c7;

}
.the-background-check-steps, .the-background-check-complete{
    display: none;
    background: #f5f5f5;
    border: solid 1px #efefef;
    padding: 10px;
    float: left;
    width: 100%;
}
.the-background-check-complete{
    display: block;
}

/*Background Check*/
.bgcheck-step{
    font-size: 18px;
    font-weight: bold;
}
.bgcheck-step-info{
    font-size: 16px;
    border-bottom: solid 1px #ccc;
    color: #666;
    margin-bottom: 10px;

}
.the-background-check-steps .form-post{

}
.labelclass{
	color: #9e9e9e;
    left: 0.75rem;
    font-size: 13px;
    cursor: text;
    margin-top:-20px;
}
.summary-of-our-rights{
	font-size: 12px;
	background: #efefef;
	border: solid 1px #ccc;
	padding: 20px;
	max-height: 200px;
	overflow: auto;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-bottom: 15px;
}
.summary-of-our-rights p{
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	line-height: normal;
}
.bgcheck-success{
    background: #00d52f;
    text-align: center;
    padding: 10px;
    color: #fff;
}


.bgsteps i{
	color: #57ce0d;
}
.background-check-status{
	font-size: 16px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid 1px #ccc;
}
.background-check-status span{
	display: inline-block;
	padding: 2px 10px;
	color: #fff;
	background: #999;
}
.background-check-status span.pending{
	background: orange;
}


.invalid-name{
	color: red;
}
.valid-name{
	color: green;
}
.name-status{
	text-align: center;
	padding: 12px;
}

.approved-tutors-list{
	margin-bottom: 10px;
	background: #fff;
	margin-top: -5px;
	padding: 5px;
	text-align: center;
}


.complete-signup{
	background: #000;
	text-align: center;
	padding: 5px;
	border: solid 2px #444;
	border-bottom: none;
	color: #ccc;
	cursor: pointer;
}
.complete-signup span{
	background: #444;
	border: solid 1px #777;
	display: inline-block;
	padding: 5px 10px;
}
.complete-signup:hover{
	background: #333;
	color: #fff;
}
.complete-signup-form{
	background: #ccc;
	float: left;
	width: 100%;
	display: none;
}
.complete-signup-form-text{

	padding: 10px 10px 0px 10px;
	text-align: center;
	font-size: 12px;
}
.new-inputs.login-button, .new-inputs.login-button .row, .complete-signup-form .new-inputs{
	margin-bottom: 0px;
}

.avidteach .see-how-much, .avidteach .application-process{
	display: none;
}



/*NEW TUTOR PROFILE*/


.top-subjects h2{
	font-size: 22px;
	padding: 5px;
}
.top-subjects{
	margin-top: 10px;
}
h1 span.top-count{
	font-weight: 700;
	color: #fff;
	background: #57ce0d;
	padding:0px 5px;
}
.top-listed-subjects{
	margin: 0px;
	padding: 0px;
}
.top-listed-subjects li{
	margin: 0px;
	padding: 0px;
	margin-bottom: 2px;
}
.top-listed-subjects li a{
	display: block;
	padding: 5px;
}
.top-listed-subjects li a:hover{
	background: #efefef;
}
.top-listed-subjects li.active a{
	background: #0099ff;
	color: #fff;
}
.top-listed-subjects li.active a .top-count{
	background: #57ce0d;
	color: #fff;
}
.top-listed-subjects li .row{
	margin: 0px;
}
.top-count{

	padding:2px 5px;
	color: #999;
}
.top-subjects-signup{

	background: #fff;
	border: solid 1px #ccc;
	padding: 10px;
	margin-bottom: 15px;
}
.top-subjects-signup .form-post{
	float: none;
}
.top-subjects-signup-now a{
	background: #0099ff;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	color: #fff;
	display: block;
}
.top-subjects-signup-now a:hover{
	background: #0080d5;
}
.top-subjects-signup-now a span{
	color: #88ff3e;
	font-weight: bold;
}


.blockmin-main{
	min-height: 400px;
	font-family: 'Quicksand';

    text-shadow: 2px 2px 5px #000;
	color: #fff;
}
.blockmin-main-title1{
	font-size: 50px;
}
.blockmin-main-title2{
	font-size: 30px;
}
.blockmin-main-title3{
	font-size: 20px;
}
.page--maint main{
    background: url('/images/subs/become-a-student.jpg') top left no-repeat ;
}
.page--maint .tutor-block{
    min-height: inherit;
}
.page--maint .tsignup-h3{
    background: #000;
    color: #fff;
    line-height: normal;
    display: block;
    padding: 0px;
    margin: 0px;
    padding: 10px;
}
.block.blockmin{
	min-height: auto;
}
.blockmin-link{
	margin-bottom: 10px;
}
.blockmin-link a{
	display: block;

	font-size: 18px;

}
.blockmin-text{
	font-size: 13px;
}


.content-items{
    color: #fff;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px #000;
}
.maincompany{

}
.company-block h1{
    color: #fff;
    font-size: 50px;
    padding: 0;
    text-shadow: 2px 2px 5px #000;
}
.discounts-top{
    font-size: 30px;
}
.discounts-signup-now{
    font-size: 20px;
    background: #000;
    padding: 10px;
    display: inline-block;
}
.discounts-signup-now strong{
    color: #bdff00;
}
.company-block{
    color: #fff;
}
.company__discounttire main{
    /*background-image: url('/images/subs/discount-tire.jpg');*/
    /*background: none;*/
}
.discount-logo{
    text-align: center;
    background: #e6e6e6;
    padding: 5px;
}
.benefits h3{
    color: #fff;
}


.pagination-container, .results{
	width: 100%;
	float: left;
}
.results-count{
	font-family: 'Quicksand';
    font-weight: 600;
	color: #444;
	font-size: 55px;
	line-height: normal;
	margin-top: -12px;
}
.results-count span{
	color: #2196F3;
}
.loading{
	background: #222;
	left:0px;
	top:0px;
	z-index: 4444;
	text-align: center;
	display: block;
	padding-top: 100px;
	height: 60px;
	opacity: .8;
	position: fixed;
	width: 100%;
	height: 100%;
	font-size: 200px;
}
