@charset "utf-8";

.howitworks-img{
	border: solid 10px transparent;
}
.how-it-works-1{background:#01c6d9;}
.how-it-works-2{background:#f4db81;}
.how-it-works-3{background:#d5c5a3;}
.how-it-works-4{background:#a7dab1;}
.how-it-works-5{background:#99d02c;}
.how-it-works-6{background:#5ab97f;}
.how-it-works-7{background:#fecc2f;}
.how-it-works-8{background:#fb4a36;}
.how-it-works-9{background:#b2bc39;}
.how-it-works-10{background:#4fa1c9;}
.how-it-works-11{background:#a864af;}
.how-it-works-12{background:#fa8d64;}
.how-it-works-13{background:#00bae7;}
.how-it-works-14{background:#278b2b;}
.how-it-works-15{background:#00867f;}


.student-signup{
	border-bottom: solid 4px #dcdcdc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.student-signup .how-it-works{
	background: #2196F3;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 22px;
	padding: 5px 15px;
}
.student-signup .how-it-works.active{
	background: #1981d7;
}
.main-signup.main-student .collection i{
	font-size: 25px;
}
#field_signup_promocode{
	background: #EEF9FF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.active-promo #field_signup_promocode input{
	color: #2196F3;
	font-weight: bold;
}
#field_signup_first_name, #field_signup_last_name, #field_signup_password, #field_signup_password_confirm,
#field_contestform_first_name, #field_contestform_last_name, #field_contestform_city, #field_contestform_state, #field_contestform_zipcode, #field_contestform_phone
 {
	width: 50%;
}

#field_becomeatutor_first_name, #field_becomeatutor_last_name, #field_becomeatutor_phone, #field_becomeatutor_promocode, #field_becomeatutor_password, #field_becomeatutor_password_confirm{
width: 50%;	
}

.signupbutton{
	font-size: 1.3rem;
}
.signupbutton i{
	color: #b2ff59;
}

.confirm-submit-action{
  -webkit-animation: jobfadeout .5s ;
  -moz-animation:    jobfadeout .5s ;
  -o-animation:      jobfadeout .5s ;
  animation:         jobfadeout .5s ;
  background: #efefef; color: #efefef; opacity: .34;
  height: 0;
  overflow: hidden;
}
@-webkit-keyframes xxx {
  0%   { background: #fff; color: #222; opacity: 1; height: auto; }
  100% { background: #efefef; color: #efefef; opacity: .4; height: 0px; }
}
@-moz-keyframes xxx {
  0%   { background: #fff; color: #222; opacity: 1; height: auto; }
  100% { background: #efefef; color: #efefef; opacity: .4; height: 0px; }
}
@-o-keyframes xxx {
  0%   { background: #fff; color: #222; opacity: 1; height: auto; }
  100% { background: #efefef; color: #efefef; opacity: .4; height: 0px; }
}
@keyframes xxx {
  0%   { background: #fff; color: #222; opacity: 1; height: auto; }
  100% { background: #efefef; color: #efefef; opacity: .4; height: 0px; }
}

.main-apply h3{
	margin-top: 40px;
}

.page--maincontest .navigation-right ul{
	margin: 0px;
}
.navigation-right ul li a.contestsignup{
	padding: 15px 0px;
}

.highlight{
	background: #c4ff00;
	padding: 1px 3px;
	color: #000;
}
.session-promotion{
	border: solid 2px #00c40e;
}
.example{
	color: #999;
}

.invite-area input{
	border: solid 1px #ccc;
}
.my-reward{
	border: dashed 1px #ccc;
}
.my-reward-value span, .my-reward-promo span{
	font-size: 18px;
	color: #00a60f;
	font-weight: bold;
}
.sendatext{
	padding: 10px;
	background: #e2ecee;
	position: relative;
}
.sendatext textarea{
	margin: 0px;
	padding-top: 0px;
}
.sendatext:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #e2ecee;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 15px;
}

.top-request{
	margin-top: 10px;
	margin-right: 10px;
}

.colors{
	padding: 10px;
	margin-bottom: 10px;
}
.colors .row{
	padding: 0px;
	margin: 0px;
}
.walk-order{
	margin-top: 15px;
	display: block;
	float: left;
	width: 100%;
}

/* Student Signup */
.signup-promo{
	font-size: 22px;
	text-align: center;
	padding: 15px;
	margin-bottom: 15px;
	display: inline-block;
	border: dashed 2px #efefef;
}
.signup-promo span{
	color: yellow;
}
.form-parent .promocode{
	border: solid 5px #e74c3c;
	position: relative;
}
.form-parent .promocode:before{
	display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);
	content:"\f00c";
	background: #e74c3c;
	font-size: 30px;
	position: absolute;
	left: -50px;
	padding:5px 10px;
	top:145px;
	color: #fff;
}
.form-parent .promocode #field_signup_promocode{
	background: #efefef;
}
.form-parent #field_signup_promocode input{
	color: #e74c3c;
}
.form-parent .promocode .form-submit button{
	background: #e74c3c !important;
}
.form-parent .promocode .notify-user{
	background: #e74c3c;
	color: #fff;
}

.mainpagenotfound h1{
	background: #333;
	color: #cf0054;
	color: #FF0066;
	background: #FF0066;
	color: #333;
	display: inline-block;
	padding: 5px 15px;
}

.collection .homepage-signup{
	padding: 10px;
	background: #f8f8f8;
	border: solid 2px #2196F3 !important;
}
.homepage-signup .form-parent{
	float: none;
}
.homepage-signup .form-parent form{
	border: none;
	margin: 0px;
	padding: 0px;
	background: transparent;
}
.signup-today{
	font-weight: bold;
	margin-bottom: 5px;
}
.homepage-signup .notify-user{
	display: none !important;
}
.apply-to-job .tutors-near-me{
	margin-bottom: 15px;
	margin-top: 10px;
}