@charset "utf-8";
.gray-box{
	background: #2196F3;
	border: solid 1px #e0e0e0;
	border-bottom: none;
	text-align: center;
	padding: 10px 5px;
}
.gray-box .title{
	font-size: 18px;
	color: #fff;
}

.tutor-profile{
	margin-top: 10px;
	position: relative;	
}
.tutor-profile h1, .tutor-profile h2{
	
}
.tutor-profile h1{
	margin-bottom: -10px;
}
.tutor-profile h2{
	font-size: 22px;
	margin-bottom: -10px;
}
.tutor-profile h2 i{
	color: #79c900;
}
.tutor-profile h3{
	font-size: 18px;
	font-weight:600;
	margin: 0px;
	padding: 0px;
	line-height: normal;
}
.tutor-left{
}
.tutor-right .edit-block h1{
	margin-bottom: 2px;
}
.hidden-avatar{
	display: block;
	text-align: center;
	max-width: 250px;
	margin: 0 auto;
}
.profile-image a{
	display: block;
}
.review .profile-image img{
	max-height: 100px;
}
.the-star-score{
	color: #2196F3;
	color: #ff8f00;
	font-size: 25px;
	float: left;
}
.the-star-score i{
	display: inline-block;
	padding: 1px;
}
.the-star-score .inactive{
	color: #ccc;
}
.no-stars{
	min-height: 43px;
}
.my-stars{
	margin-top: 7px;
	float: left;
	width: 100%;
}
.my-stars-text{
	color: #999;
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}

badge{
	line-height: normal;
	color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background: #999;
	font-size: 12px;
	padding: 5px;
	height: auto;
	background: #ffffff;
	color: #111;
	border: solid 1px #ccc;
}
.hourly-rate.valign-wrapper{
	width: 80px;
}
.tutor-results .hourly-rate{
	border: none;
}
.tutor-results.active-now{
	background: orange;
}
.tutor-results badge{
	background: #f5f5f5;
}
badge .badge-icon{
	min-width: 30px;
	text-align: center;
	display: inline-block;
	padding: 3px 3px 1px 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	color: #fff;
	height: 30px;
	overflow: hidden;
}
badge.negotiable .badge-icon{
	background: #2268f3;
}
badge .badge-text{
	float: left;
	display: inline-block;
	padding: 6px 10px;
}
badge.success .badge-icon{
	background: #57ce0d;
}
badge.attention .badge-icon{
	background: #2196F3;
}
badge.info .badge-icon{
	background: #3f51b5 ;
}

badge.star-score .badge-icon{
	background: #ff9800;
}
badge.star-score .badge-icon{
	
}
badge.student .badge-icon{
	background: #f50057;
}
.your-student{
	margin-top: 10px;
}
.badges i{
	font-size: 22px;
	display: inline-block;
}
.badges span{
/*
	float: left;
	display: inline-block;
	padding: 3px 5px 0px 5px;
*/
}
badge a{
	color: #333;
}
badge a i{
	color: #fff;
}
.collection-item.badge-new-user, badge.badge-new-user .badge-icon{
	background:#ffb300;
	color:#fff;
}
.collection-item.badge-instructor, badge.badge-instructor .badge-icon{
	background:#e91e63;
	color:#fff;
}
.collection-item.badge-teachers-assistant, badge.badge-teachers-assistant .badge-icon{
	background:#9c27b0;
	color:#fff;
}
.collection-item.badge-teacher, badge.badge-teacher .badge-icon{
	background:#673ab7;
	color:#fff;
}
.collection-item.badge-assistant-professor, badge.badge-assistant-professor .badge-icon{
	background:#3f51b5;
	color:#fff;
}
.collection-item.badge-associate-professor, badge.badge-associate-professor .badge-icon{
	background:#2196f3;
	color:#fff;
}
.collection-item.badge-professor, badge.badge-professor .badge-icon{
	background:#4caf50;
	color:#fff;
}
.collection-item.badge-mad-scientist, badge.badge-mad-scientist .badge-icon{
	background:#c6ff00;
	color:#111;
	border: solid 1px #81d500;

  -webkit-animation: uranium 5s infinite;
  -moz-animation:    uranium 5s infinite;
  -o-animation:      uranium 5s infinite;
  animation:         uranium 5s infinite;
}
badge.badge-mad-scientist a i{
	color: #333 !important;
}

@-webkit-keyframes uranium {
  0%   {
	-moz-box-shadow: 0 0 0px #58c900;
	-webkit-box-shadow: 0 0 0px #58c900;
	box-shadow: 0 0 0px #58c900;
  }
  50% {
	-moz-box-shadow: 0 0 10px #58c900;
	-webkit-box-shadow: 0 0 10px #58c900;
	box-shadow: 0 0 10px #58c900;
  }
  100%   {
	-moz-box-shadow: 0 0 0px #58c900;
	-webkit-box-shadow: 0 0 0px #58c900;
	box-shadow: 0 0 0px #58c900;
  }
}
@-moz-keyframes uranium {
  0%   {
	-moz-box-shadow: 0 0 0px #58c900;
	-webkit-box-shadow: 0 0 0px #58c900;
	box-shadow: 0 0 0px #58c900;
  }
  50% {
	-moz-box-shadow: 0 0 10px #58c900;
	-webkit-box-shadow: 0 0 10px #58c900;
	box-shadow: 0 0 10px #58c900;
  }
  100%   {
	-moz-box-shadow: 0 0 0px #58c900;
	-webkit-box-shadow: 0 0 0px #58c900;
	box-shadow: 0 0 0px #58c900;
  }
}
@-o-keyframes uranium {
  0%   {
	-moz-box-shadow: 0 0 0px #58c900;
	-webkit-box-shadow: 0 0 0px #58c900;
	box-shadow: 0 0 0px #58c900;
  }
  50% {
	-moz-box-shadow: 0 0 10px #58c900;
	-webkit-box-shadow: 0 0 10px #58c900;
	box-shadow: 0 0 10px #58c900;
  }
  100%   {
	-moz-box-shadow: 0 0 0px #58c900;
	-webkit-box-shadow: 0 0 0px #58c900;
	box-shadow: 0 0 0px #58c900;
  }
}
@keyframes uranium {
  0%   {
	-moz-box-shadow: 0 0 0px #58c900;
	-webkit-box-shadow: 0 0 0px #58c900;
	box-shadow: 0 0 0px #58c900;
  }
  50% {
	-moz-box-shadow: 0 0 10px #58c900;
	-webkit-box-shadow: 0 0 10px #58c900;
	box-shadow: 0 0 10px #58c900;
  }
  100%   {
	-moz-box-shadow: 0 0 0px #58c900;
	-webkit-box-shadow: 0 0 0px #58c900;
	box-shadow: 0 0 0px #58c900;
  }
}

.my-info i{
	color: #52bb00;
	font-size: 18px;
}
.tutor-info{
	width: 100%;
}
.tutor-info h3{
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.tutor-info.left h2{
	margin-bottom: 5px;
}
#myvideos .block{
	
}
.block-in-block .box, .block-in-block .block{
	margin: 0px;
	margin-bottom: -1px;
}
.block,.box{
	border: solid 1px #e0e0e0;
	background: #fff;
	padding: 10px;
	float: left;
	width: 100%;
	margin-bottom: 15px;
	position: relative;

}
.block .title span{
	color: #2196F3;
}
.block .title strong{
	font-weight: 600;
}
.block.block-inactive,.box.box-inactive{
	background: #f8f8f8;
	border-color: #bdbdbd;
}
.block.block-gray{
	background: #ebebeb;
}
.block .title, .box .title{
	font-size: 19px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 5px;
}
.block .date{
	font-size: 12px;
	color: #999;
}
.block .description, .box .description{
	padding: 10px 5px;
	font-size: 15px;
	color: #666;
}
.block .info, .box .info{
	font-size: 12px;
}
.block .student, .block .student a{
	color: #52bb00;
}
.block-inside{
	padding: 0px;
}
.block-inside .title, .block-inside .description{
	margin: 5px 10px;
}
.block-bottom{
	background: #f9f9f9;
	border-top: dashed 1px #ccc;
	padding: 10px;
	font-size: 13px;
}
.block.active-subject{
	border: solid 10px #2196F3;
}
.block.active-subject .alert{
	margin: 15px;
}
.reorder-subjects{
	position: absolute;
	right: 0px;
	top:0px;
	background: #e0e0e0;
	padding:0px 5px;
	cursor: move;
	z-index: 444;
}
.verified-by{
	color: #52bb00;
	font-size: 22px;
	cursor: pointer;
}
.tutor-profile .badges badge{
	float: none;
	display: block;
	margin-bottom: 5px;
}
.badges badge{
	height: 43px;
}
.mini-badges badge{
	margin-right: 5px;
}
.about-me{
	margin-bottom: 15px;
}
.tutor-profile-inside{
	
}

.prev-next{
	display: inline-block;
	float: right;
	margin-top: -65px;
	margin-right: -10px;
}
.prev-next a{
	padding: 0px 5px;
	text-align: center;
	font-size: 22px;
	display: inline-block;
	color: #666;
}
.prev-next a:hover{
	color: #222;
	background: rgba(204, 204, 204, 0.6);
}

.message-box{
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.message-box .send{
	width: 100%;
}
#slide-out .modal-login{
	color: #3ca7ff;
}
#slide-out .modal-login i{
	color: #b0dfff;
}


.tutor-results{
	position: relative;
	background: #dfdfdf;
	border: solid 1px #ccc;
	float: left;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.hourly-rate{
	position: absolute;
	background: #2196F3;
	left: -10px;
	top: -10px;
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	width: 80px;
	height: 80px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	z-index: 11;
}
.hourly-rate .valign{
	width: 100%;
}
.hourly-rate.negotiable-price{
	background: #2268f3;
}
.hourly-rate.negotiable-price .asterisk{
	position: absolute;
/*
	right: -5px;
	top:-5px;
*/
	font-size: 12px;
	color: #666;
	color: #fff;
}
.attention-overlay{
	background: rgba(255, 255, 255, 0.94);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top:0px;
	z-index: 9999;
}
.tutor-profile .hourly-rate{
	width: 80px;
	height: 80px;
	font-size: 1.6rem;
	top:-2px;
	left: 0px;
}
.hidden-profile{
	margin-top: 10px;	
}
.avatar{
	text-align: center;
	margin-bottom: 15px;
}
.avatar img{
	border: solid 5px #fff;
/* 	background: #333; */
	padding: 1px;
	max-height: 400px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;


	box-shadow: 2px 2px 10px #666;

}
.avatar img.default-avatar{
	padding: 15px;
}

.avatarbg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,c4c4c4+100 */
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(196,196,196,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(196,196,196,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(196,196,196,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}
.i-need-review img{
	border-color:#f44336 !important;
	position: relative;
}
.i-need-review:before{
	padding: 8px 10px 11px 10px;
	text-align: center;
	background: #f44336;
	left: -10px;
	top:-10px;
	color: #fff;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	position: absolute;
	display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)
}
.i-need-review:before{
	content:"\f071";
}
.please-review a{
	display: inline-block;
	padding: 5px 10px;
	background: #f44336;
	color: #fff;
}

.staff.avatar img{
	padding: 1px;
	background: #008BFf;
	background: -webkit-linear-gradient(#666 0%, #222 100%);
	max-height: 220px;
}
.staff h2, .staff h3{
	margin: 0px;
	padding: 0px;
	line-height: normal;
}
.staff h2{
	font-size: 35px;
}
.staff h3{
	font-size: 18px;
}
.tutor-results .avatar img{
	max-height: 150px;
	min-width: inherit;
}
.tutor-name a{
	font-size: 18px;
	color: #222;
	text-transform: capitalize;
}
.tutor-location{
	font-size: 16px;
	color:#555;
}
.tutor-location a{
	color: #666;
	display: inline-block;
}
.tutor-location a:hover{
	color: #000;
	background: #ccc;
}
.tutor-location i{
	color: #79c900;
}
.tutor-distance{
	font-size: 12px;
	color: #999;
}
.short-description{
	font-size: 19px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid 2px #ccc;
}
.personal-statement{
	font-size: 13px;
	padding: 4px;
	margin-bottom: 15px;
	word-wrap: break-word;
}
.tutor-statement{
	word-wrap: break-word;
}
.tutor-results-subjects{
	margin-bottom: 10px;
}
.tutor-results-subjects a{
	font-size: 12px;
	color: #333;
}
.tutor-results-subjects .title{
	font-weight: bold;
	font-size: 14px;
}
.tutor-results-subjects a:hover{
	color: #00a7ff;
}


.my-photos h2{
	margin-bottom: 5px;
}
.my-photos .button{
	margin-bottom: 5px;
}
.avatar-clicks img{
	padding: 10px;
}
.avatar-clicks label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}
.avatar-clicks.active-avatar img{
	padding: 10px;
	background: #efefef;
	-moz-box-shadow:inset 0 0 10px #999;
	-webkit-box-shadow:inset 0 0 10px #999;
	box-shadow:inset 0 0 10px #999;
}
.image-preview{
	padding: 15px;
	background: #fff;
	margin-top: 10px;
	border: dashed 1px #333;
	text-align: center;
	margin-bottom: 10px;
}
.image-preview img{
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
	max-height: 200px;
}

.edit-block{
	position: relative;
}
.change-me{
	color: #2196F3;
	font-weight: bold;
}
.edit-profile{
position: absolute;
  right: -7px;
  top: -7px;
  background: #333;
  padding: 0px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  border: solid 2px #ccc;
  cursor: pointer;
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 2px;
  font-size: 17px;
  line-height: normal;
}
.edit-profile.active i{
	color: #52bb00;
}
.edit-profile i{
	color: #fff;
}
.edit-profile-box{
	margin-top: 10px;
	display: none;	
}
input.reset-input{
	width: auto;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	line-height: normal;
}
input.reset-input.hourly_rate{
	width: 45px;
	font-size: 1.6rem;
}

#field_signup_howdidyouhear_other{
	display: none;
}

.user-block{
	position: relative;
	z-index: 10;
}
.user-block .profile-image{
	position: relative;
}
.user-name, .user-name a{
	font-size: 16px;
	padding: 2px 5px;
	color: #222;
	display: inline-block;
	text-transform: capitalize;
}
.user-name a:hover{
	color: #fff;
	background: #333;
}
.cc-box{
	
}
.credit-card{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	background: #57cf0d;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}
.credit-card i{
	font-size: 16px;
}

.star-ranks-text{
	font-size: 16px;
	margin-bottom: 10px;
}
.star-ranks{
	width: 100%;
	float: left;
}
.star-ranks i{
	font-size: 30px;
	color: #008BFF;
	cursor: pointer;
}

.page--mainstaff h1{
	margin: 0px;
	padding: 0px;
	line-height: normal;
}
.page--mainstaff h2{
	margin-top: -10px;
	color: #999;
	font-size: 22px;
	border-bottom: solid 2px #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.display-stars{
	margin-bottom: 5px;
}
.wide-count-total{
	width: 100%;
	background: #f4f4f4;
}
.wide-count{
	height: 20px;
	display: block;
	background: #2196F3;
}


/* Custom Avatar */
.html5colorpicker{
	width: 50px;
	height: 50px;
}
.edit-avatar{
	text-align: center;
	float: none;
	display: inline-block;
}
.custom-avatar-ears-shadow{
	color: #000;
	opacity: .2;
}
.empty{
	width: 72px;
	height: 72px;
	float: left;
	color: red;
	text-align: center;
	font-size: 45px;
	border: solid 1px #ccc;
	margin-right: 2px;
	margin-bottom: 2px;
	cursor: pointer;
}
.add-some{
	width: 100%;
	float: left;
	position: relative;
}
.add-some .custom-avatar{
	cursor: pointer;
	width: 72px;
	height: 72px;
	float: left;
	display: inline-block;
	display: block;
	font-size: 70px;
	background: #efefef;
	position: relative;
	margin-right: 2px;
	margin-bottom: 2px;
	border: solid 1px #ccc;
}
.default{
	background: #222;
}
#default{
	color: #222;
}
.peaches{
	background: #EDD9B4;
}
#peaches{
	color: #EDD9B4;
}
.blue{
	background: #EDD9B4;
}
#blue{
	color: #2196F3;
}
.green{
	background: #4CAF50;
}
#green{
	color: #4CAF50;
}
.orange{
	background: #ff9800;
}
#orange{
	color: #ff9800;
}
.red{
	background: #F44336;
}
#red{
	color: #F44336;
}
.yellow{
	background: #ffeb3b;
}
#yellow{
	color: #ffeb3b;
}
.swap-color-type{
	float: left;
	width: 100%;
}
.swap-color-type div{
	cursor: pointer;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 1px;
	margin-bottom: 1px;
	border: solid 1px transparent;
}
.custom-avatar.active{
	border: solid 1px #f11900;
}