@charset "utf-8";

@media only screen and (max-width: 500px){
	.container{
		width: 93% !important;
	}
	.wide-copy{
		font-size: 25px;
	}
	.tswo-text{
		padding: 5px 0px;
	}
	.activate-complete-left, .activate-complete-right{
		width: 100%;
		margin-bottom: 15px;
	}
	.activate-complete-middle{
		display: none;
	}
	.widecontentcontainer.container{
		padding-top: 0px;
	}

	.widecontent{
		position: absolute;
		background-position: left top !important;
	}
	.widecontentcontainer.container-fluid{
		padding-top: 350px;
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 20px;
	}
}

@media only screen and (max-width: 992px){
	.logo.logo-main{
		display: none;
	}
	sidebar .logo{
		display: block;
	}
	.activeaction .right-info{
		display: none;
	}
	.homepage-items h1{
		font-size: 35px;
		margin-top: 170px;
	}
	.widecontent .valign{
		font-size: 10vw;
	}
}
@media only screen and (min-width: 993px){

}
@media only screen and (min-width: 1200px){
	.container{
		width: 80%;
	}
	.row .col.l3{
		width: 20%;
	}
	.row .col.l9{
		width: 80%;
	}
}
