@charset "utf-8";
html,body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', 'Arial', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}
.body {	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
main{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-top: 80px;
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,e2e2e2+100 */
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
background-attachment: fixed;


	
}
header,main,footer{
	-webkit-transition: all;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: .2s;
	
	-moz-transition: all;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: .2s;
	
	transition: all;
	transition-timing-function: ease-out;
	transition-duration: .2s;
}
main.onTop{
}
main.onPin{
}
sidebar{
	width: 200px;
	left: -200px;
	z-index: 555;
	position: fixed;
	height: 100%;
	
    -webkit-transition: all;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: .2s;
	
	-moz-transition: all;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: .2s;
	
	transition: all;
	transition-timing-function: ease-out;
	transition-duration: .2s;
}
sidebar.activeaction{
	left: 0px;
	background: #222;
	border-right: solid 5px #555;
}
.sidebar-main{
	margin: 0px;
	line-height: normal;
}
.sidebar-main li{
	
}
.sidebar-main li a{
	display: block;
	padding: 10px;
	color: #ccc;
	color: #fff;
	font-size: 20px;
	border-bottom: solid 1px #555;
}
.sidebar-main li a:hover{
	background: #444;
	color: #fff;
}
.sidebar-signup{
	display: block;
	background: #0087F2;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin: 10px;
	margin-bottom: 15px;
	font-size: 18px;
	text-transform: uppercase;
	
}
.sidebar-signup:hover{
	background: #008dff;
	
}

.sidebar-subs{
	margin-top: 25px;
}
.sidebar-subs li a{
	display: block;
	padding: 5px 10px;
	font-size: 14px;
	color: #ccc;
}
.sidebar-subs li a:hover{
	color: #fff;
	background: #111;
}

header.activeaction,main.activeaction,footer.activeaction{
	padding-left: 200px;
	position: relative;
}
main.activeaction{
	overflow-y: hidden;
	height: 100px;
}
header.activeaction:before, main.activeaction:before, footer.activeaction:before{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.82);
	content: "";
	left: 0px;
	top:0px;
	z-index: 33;
}

.activate-menu i{
	font-size: 25px;
	color: #ccc;
}
.activate-menu span{
	display: inline-block;
}
.activate-menu{
	font-size: 22px;
	padding: 23px 20px;
	display: block;
	cursor: pointer;
	color: #fff;
}

.activate-menu.active{
	position: relative;
	z-index: 5555;
	color: #ccc;
}
.activate-menu.active i{
	color: #0087F2;
}

header {
	background: #333;
	height: 80px;
	position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    text-align: center;
}
.logo{
	display: inline-block;
}
.logo img{
	max-height: 80px;
}
footer{
	background: #222;
	min-height: 100px;
}

.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: transform 200ms linear;
}
.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp;
    transform: translateY(-100%);
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;
    transform: translateY(0%);
}
.header-nav{
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.header-nav li{
	list-style-type: none;
	float: left;
	margin-right: 20px;
}
.header-nav li a{
	display: block;
	padding: 10px;
	color: #fff;
}

.sidebar-status{
	margin-top: 10px;
}
.sidebar-status .row{
	margin: 0px;
}
.sidebar-close{
	
}
.sidebar-close i{
	color: #fff;
	font-size: 30px;
	padding: 5px;
	cursor: pointer;
}
.sidebar-close i:hover{
	color: #008dff;
}
.sidebar-login{
	
}
.sidebar-login a{
	display: block;
	padding: 10px;
	color: #fff;
	background: #555;
	text-align: center;
}
.sidebar-login a:hover{
	color: #ccc;
}