@charset "utf-8";
@font-face {
    font-family: 'bariol_regular';
    src: url('/fonts/bariol/bariol_regular-webfont.eot');
    src: url('/fonts/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bariol/bariol_regular-webfont.woff2') format('woff2'),
         url('/fonts/bariol/bariol_regular-webfont.woff') format('woff'),
         url('/fonts/bariol/bariol_regular-webfont.ttf') format('truetype'),
         url('/fonts/bariol/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', 'Arial', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}
.body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
a{
	color: #0099ff;
}
#toast-container{
	z-index: 9999;
}
main .container-fluid, footer .container-fluid{
	width: 95%;
	max-width: inherit;
	margin: 0 auto;
    padding-bottom: 15px;
}

h1,h2,h3,h4,h5,h6{
	line-height: normal;
	margin: 0px;
	padding: 0px;
    font-family: 'Quicksand';
	font-weight: 400;
}
h1{
	color: #000;
	font-size: 4rem;
	font-weight: 700;
}
h1 span{
	color: #666;
}
h1 span:first-child{
	font-weight: 300;
}
h2{
	font-size: 2.7rem;
	color: #666;
	margin-bottom: 10px;
}
h3{
	font-size: 2rem;
	color: #999;
	margin-bottom: 10px;
}
.notbold{
	font-weight: 300;
}

main{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,e2e2e2+100 */
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
background-attachment: fixed;



}
header,main,footer,notifications{
	-webkit-transition: all;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: .2s;

	-moz-transition: all;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: .2s;

	transition: all;
	transition-timing-function: ease-out;
	transition-duration: .2s;
}
main.onTop{
}
main.onPin{
}
sidebar{
	width: 200px;
	left: -200px;
	z-index: 777;
	position: fixed;
	height: 100%;
	max-height: 100%;
    overflow-y: auto;

    -webkit-transition: all;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: .2s;

	-moz-transition: all;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: .2s;

	transition: all;
	transition-timing-function: ease-out;
	transition-duration: .2s;
}
sidebar.activeaction{
	left: 0px;
	background: #222;
	border-right: solid 5px #555;
}
.sidebar-main{
	margin: 0px;
	line-height: normal;
}
.sidebar-main li{

}
.sidebar-main li a{
	display: block;
	padding: 10px;
	color: #ccc;
	font-size: 20px;
	border-bottom: solid 1px #555;
}
.sidebar-main li a:hover{
	background: #444;
	color: #fff;
}
.sidebar-main li a.active{

	background: #0099ff;
	color: #fff;
}
.sidebar-signup{
	display: block;
	background: #0cf200;
	color: #111;
	text-align: center;
	padding: 10px;
	margin: 10px;
	margin-bottom: 15px;
	font-size: 18px;
	text-transform: uppercase;

}
.sidebar-signup:hover{
	background: #0ad200;
    color: #fff;

}
.av-versioning{
	color: #777;
	font-size: 13px;
}
.version{
	color: #51bf00;
}
footer h5{
	font-size: 17px;
}
footer ul{
	margin: 0px;
}
footer a{
	font-size: 12px;
	display: block;
	padding: 2px;
}
footer a:hover{
	color: #777;
}
footer .active{
	color: #999;
}

.sidebar-subs{
	margin-top: 25px;
}
.sidebar-subs li a{
	display: block;
	padding: 5px 10px;
	font-size: 14px;
	color: #ccc;
}
.sidebar-subs li a:hover{
	color: #fff;
	background: #111;
}
.sidebar-subs li a.active{
	color: #fff;
	background: #111;
}
.right-info{
	color: #ccc;
	float: right;
}
header.activeaction,main.activeaction,footer.activeaction{
	padding-left: 200px;

}
footer.activeaction{
	border-color: transparent;
}
body.activeaction{
	overflow: hidden;
	height: auto;
}
body.activeaction .header-nav{
	display: none;
}
.header-nav li a.signup-link{
	color: #96FF00;
}
main.activeaction .container{
	height: auto;
	overflow: hidden;
}
main .container{
	padding-top: 110px;
}
main .subnav-active.container{
	padding-top: 40px;
}
main .homepage-container.liu{
	width: 95%;
	margin: 0 auto;
	padding-top: 110px;
}

header.activeaction:before, main.activeaction:before, footer.activeaction:before, notifications.activeaction:before{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	content: "";
	left: 0px;
	top:0px;
	z-index: 33;
}
subnav{
	padding: 5px;
	width: 100%;
	position: fixed;
	top:80px;
	background: #666;
}
subnav .sub-navigation-title{
	float: left;
}
subnav .sub-navigation{
	margin: 0px;
	padding: 0px;
	float: left;
}
subnav .sub-navigation li{
	float: left;
}
subnav a{
	display: block;
	padding: 5px 10px;
	color: #ccc;
	margin-right: 10px;
	background: #777;
}
subnav a.active, subnav li.active a{
	color: #fff;
	background: #555;
}

.activate-menu i{
	font-size: 25px;
	color: #ccc;
}
.activate-menu span{
	display: inline-block;
}
.activate-menu{
	font-size: 22px;
	padding: 23px 20px;
	display: block;
	cursor: pointer;
	color: #fff;
	position: relative;
}

.activate-menu.active{
	position: relative;
	z-index: 5555;
	color: #ccc;
}
.activate-menu.active i{
	color: #0087F2;
}
.activate-menu .menu-new{
	color: #cf0;
	font-size: 9px;
	position: absolute;
	right: 0px;
	top:15px;
}

header{
	z-index: 555;
	background: rgba(33, 33, 33, 0.85);
	height: 80px;
	position: fixed;
    right: 0;
    left: 0;
    top: 0;
    text-align: center;

    transition: transform 200ms linear;


}
notifications{
	position: fixed;
	top:80px;
	background: #000;
	width: 100%;
	text-align: center;
	padding: 5px;
	left: 0px;
}
notifications span{
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
notifications.urgent{
	background: #F44336;
	color: #fff;
}
notifications.low{
	background: #DEDEDE;
	color: #000;
}
notifications.low a{
	background: #fff;
    display: inline-block;
    padding: 2px 10px;
    color: #333;
	border: solid 1px #ccc;
}

main .liu.active-notification{
	padding-top: 130px;
}
.itstheheader-top{
	transform: translateY(-100%);

}
.itstheheader-bottom{
	transform: translateY(0%);
}
.logo{
	text-align: center;
}
.logo.logo-main{

    position: absolute;
    left: 0;
    right: 0;
    width: 270px;
    display: inline-block;
    text-align: center;
    margin: auto;
}
.logo a{
	display: block;
	line-height: normal;
	padding: 0px;
	margin: 0px;
}
.logo img{
	max-height: 80px;
}
sidebar .logo{
	display: none;
}
footer{
	padding: 10px 0px;
	background: #222;
	min-height: 100px;
	border-top: solid 5px #0099ff;
}
.follow-us li{
	float: left;
}
.follow-us li a{
	display: block;
	padding: 5px 10px;
	font-size: 22px;
}
.follow-us li a:hover{
	color: #666;
}

.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: transform 200ms linear;
}
.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp;
    transform: translateY(-100%);
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;
    transform: translateY(0%);
}
.header-nav{
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.header-nav li{
	list-style-type: none;
	float: left;
	margin-right: 20px;
}
.header-nav li a{
	display: block;
	padding: 10px;
	color: #fff;
}
.header-nav li a:hover{
    color: #ccc;
}

.sidebar-status{

}
.sidebar-status .row{
	margin: 0px;
}
.sidebar-close{

}
.sidebar-close i{
	color: #fff;
	font-size: 30px;
	padding: 5px;
	cursor: pointer;
}
.sidebar-close i:hover{
	color: #008dff;
}
.sidebar-login{
	margin-bottom: 10px;
}
.sidebar-login a{
	display: block;
	padding: 10px;
	color: #fff;
	background: #555;
	text-align: center;
}
.sidebar-login a:hover{
	color: #ccc;
}

.sub-navigation-title{
	padding: 5px;
	background: rgba(204, 204, 204, 0.2);
	border-bottom: solid 1px #ccc;
}
.sub-navigation-title a{

	font-size: 18px;
	color: #999;

}
.sub-navigation-title a.active{
	font-weight: bold;
}


.left-navigation .sub-navigation{
	padding: 0px;
	margin: 0px;
}
.left-navigation{

}
.left-navigation .sub-navigation li a{
	color: #666;
	display: block;
	padding: 5px;
	font-size: 17px;
}
.left-navigation .sub-navigation li a:hover{
	color: #0099ff;
}
.left-navigation .sub-navigation li.active a{
	color: #0099ff;
	font-weight: bold;
}

/* Dropdown */
.dropdown-content li>a{
	color: #555;
	font-size: 16px;
}
.user-dropdown-container{
	margin-right: 10px;
	margin-top: 10px;
	color: #fff;
}
.dropdown-button{
	color: #fff;
	float: left;
	margin-top: 10px;
}
.dropdown-button:hover .dropdown-item i{

}
.dropdown-button:hover .dropdown-sort i{
	color: #ccc;
}
.dropdown-button:hover .my-name{
	color: #ccc;
}
.dropdown-item{
	float: left;
	padding-right: 10px;
}
.dropdown-sort{
	float: left;
	padding: 2px 5px;
}

#user-dropdown{
	min-width: 250px;
}
#user-dropdown li a{

}
.dropdown-content .my-info:hover{
	cursor: default;
	background: transparent;
}
.my-info-drop .row{
	margin: 0px;
}
.dropdown-content .my-info-drop a{
	padding: 0px;
	margin: 0px;
	display: block;
}
.my-info-drop:hover{
	cursor: default;
}
.my-info-drop .valign a{
	display: block;
	padding: 10px 0px;
}
.row .col.my-info-img{
	padding: 5px;
	padding-bottom: 0px;
}
.my-info-drop{
	padding: 5px;
	padding-bottom: 10px;
	background: #efefef !important;
	border-bottom: solid 1px #999;
	text-align: left;
}
.dropdown-content  .dll-logout a{
	background: #666;
	color: #fff;
}
.dll-rpp{
	background: #efefef;
}
.dll-logout a:hover{
	background: #555;
	color: #ccc;
}
.my-links-title{
	background: #0099ff;
	padding: 10px;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.my-links ul{
	margin: 0px;
	margin-bottom: 15px;
	background: #fff;
	border: solid 1px #ccc;
	padding: 5px;
}
.my-links li{

}
.my-links li a{
	display: block;
	padding: 5px 10px;
	font-size: 18px;
	color: #333;
}
.my-links li a:hover{
	background: #efefef;
}
.my-links li.active a{
	background: #444;
	color: #fff;
}

/* Static Errors */
.say-message{
	position: fixed;
	right: 7%;
	top:11%;
	z-index: 888;
	animation-delay: 3s;
    animation-name: staticerror;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.say-message .the-message{
	background: #000;
	padding: 10px;
	font-size: 16px;
	color: #fff;
}

@keyframes staticerror {
    0%   {top:10%;}
    100% {top:-100px;}
}
@keyframes heartbeat {
    0%   {font-size: 0px;}
    100% {font-size: 25px;}
}

/* Scroll Up */
.all-the-way-up{
	opacity: .9;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: rgba(0, 0, 0, 0.7);
	color: #999;
	z-index: 444;
	font-size: 20px;

	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
}
.all-the-way-up:hover{
	color: #fff;
	cursor: pointer;
}
