@charset "utf-8";

@media only screen and (max-width: 500px){

	.avidteach .signup-copy, .iteach .signup-copy{
		font-size: 17px;
	}

	.logo-affiliate img{
		max-height: 40px;
	}
	.container{
		width: 93% !important;
	}
	.wide-copy{
		font-size: 25px;
	}
	.tswo-text{
		padding: 5px 0px;
	}
	.activate-complete-left, .activate-complete-right{
		width: 100%;
		margin-bottom: 15px;
	}
	.activate-complete-middle{
		display: none;
	}
	.widecontentcontainer.container{
		padding-top: 0px;
	}

	.widecontent{
		position: absolute;
		background-position: left top !important;
	}
	.widecontentcontainer.container-fluid{
		padding-top: 350px;
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 20px;
	}
	.right-info ul li{
		margin-right: 5px;
	}
	.right-info ul li a{
		padding: 10px 5px;
	}
	.easy-signup-title{
		font-size: 25px;
		margin-bottom: 5px;
	}
	.input-wrap{
		padding: 5px 10px;
		height: 45px;
	}
	header{
		height: 40px;
	}
	.header-nav{
		margin: 0px;
	}
	.activate-menu{
		padding: 3px;
	}
	main .container{
		padding-top: 60px;
	}
	#ts_first_name{
		margin-bottom: 20px;
	}
	.maintutor h1{
		font-size: 45px;
	}
	.signup-copy{
		min-height: 400px;
	}

	.maintutor main, .mainstudent main{
		background-position: -50px -170px;
	}
	.signup-copy{
		min-height: 240px;
	}
	.user-dropdown-container{
		margin-top: 2px;
	}
	.dropdown-button{
		margin-top: 0px;
	}
	.activate-menu .menu-new{
		right: -10px;
	}

}

@media only screen and (max-width: 992px){

	.avidteach .signup-copy, .iteach .signup-copy{
		font-size: 17px;
	}

	.logo img{
		/*display: none;*/
		height:45px;
	}
	sidebar .logo{
		display: block;
	}
	.homepage-items h1{
		font-size: 35px;
		margin-top: 170px;
	}
	.widecontent .valign{
		font-size: 10vw;
	}
	#toast-container .fixed-toast{
		padding: 40px 10px;
		background: #80ff00;
		color: #000;
		font-weight: bold;
	}
}
@media only screen and (min-width: 993px){

}
@media only screen and (min-width: 1200px){
	.container{
		width: 80%;
	}
	/*.row .col.l3{
		width: 20%;
	}
	.row .col.l9{
		width: 80%;
	}*/
}
