@charset "utf-8";
main .notoppadd{
	padding-top: 0px;
}
.homepage-wide{
	float: left;
	width: 100%;
	background-image: url('/images/homepage-slides/penandpaper.jpg');
	background-size: cover;
	background-position:right top;
	background-attachment: fixed;
	min-height: 500px;
	margin-bottom: 30px;
}
.the-subjects-we-offer .block{
	min-height: 200px;
}
.the-subjects-we-offer .block .col{
	padding: 0px;
}
.tswo-title{
	background-size: cover;
	background-position: center center;
	background-color: #efefef;
	text-align: center;
}
.liberalarts{
	background-image: url('/images/subjects/liberalarts.jpg');
}
.math{
	background-image: url('/images/subjects/new-math.jpg');
}
.science{
	background-image: url('/images/subjects/new-science.jpg');
}
.testprep{
	background-image: url('/images/subjects/testprep.jpg');
}
.tswo-title a{
	display: block;
	font-family: 'Quicksand';
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #000;
    padding:85px 5px;
    position: relative;
}
.tswo-title a:hover{
	background: rgba(33, 33, 33, 0.5);
}

.tswo-title .valign{
	width: 100%;
}
.tswo-text{
	padding:0px 10px;
}
.tswo-text a{
	display: inline-block;
	margin-bottom: 3px;
	color: #666;
}
.tswo-text a:hover{
	color: #0099ff;
}

.fullsize{
	width: 100%;
	margin: 15px 0px;
	float: left;
}

.wide-copy{
	font-size: 35px;
	line-height: 1.3;
	font-family: 'Quicksand';
	text-shadow: 1px 1px 5px black;
	background: rgba(0, 0, 0, 0.7);
	margin: 15px 0px;
	padding: 30px;
}
.signup-post-a-job h2{
	margin-top: 30px;
	display: block;
	display: inline-block;
	width: 100%;
}
.info-block{
	background: rgba(33, 33, 33, 0.92);
	border: solid 1px #333;

-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;

	padding: 18px;
	margin-bottom: 15px;
	font-size: 22px;
}


/* How It Works */
.how-it-works-slide{
	height: 500px;
	width: 100%;
	position: absolute;
	left: 0px;
	top:0px;
	margin-top: -500px;
	background: rgba(255, 255, 255, 0.9);
	border-bottom: solid 1px #ccc;
	z-index: 555;
	text-align: center;
	overflow: hidden;
	background:rgba(51, 51, 51, 0.85);
	color: #fff;
}
.how-it-works-slide h1{
	padding: 10px;
	color: #fff;
}
.how-it-works-slide a{
	color: #00ccff;
}
.close-it-works{
	cursor: pointer;
	position: absolute;
	right: 10px;
	top:0px;
	font-size: 40px;
}
.close-it-works:hover{
	color: #666;
}
.howie-howitworks-img{

}
.howie-howitworks-title{
	font-size: 22px;
}
.howie-howitworks-text{
	padding: 0px 15px;
}
.howie-howitworks-bottom{

}

.how-it-works-slide.slideDown{
    animation-name: slideDown;
    animation-duration: .5s;
    margin-top: 0px;
}
.how-it-works-slide.slideUp{
    animation-name: slideUp;
    animation-duration: .5s;
    margin-top: -500px;
}

@-webkit-keyframes slideUp {
    from {margin-top: 0px}
    to {margin-top: -500px;}
}
@-moz-keyframes slideUp {
    from {margin-top: 0px}
    to {margin-top: -500px;}
}
@-o-keyframes slideUp {
    from {margin-top: 0px}
    to {margin-top: -500px;}
}
@keyframes slideUp {
    from {margin-top: 0px}
    to {margin-top: -500px;}
}


@-webkit-keyframes slideDown {
    from {margin-top: -500px;}
    to {margin-top: 0px}
}
@-moz-keyframes slideDown {
    from {margin-top: -500px;}
    to {margin-top: 0px}
}
@-o-keyframes slideDown {
    from {margin-top: -500px;}
    to {margin-top: 0px}
}
@keyframes slideDown {
    from {margin-top: -500px;}
    to {margin-top: 0px;}
}

.homepage-items h1{
	position: absolute;
	font-weight: bold;
	color: #fff;
    text-shadow: 0px 0px 20px black;
    padding: 0px 20px;

	right: 0 ;
	left : 0 ;
	z-index: 22;
	margin-top: 200px;
}
.homepage-items .how-it-works{
	position: absolute;

	right: 0 ;
	left : 0 ;
	z-index: 22;
	margin-top: 300px;
}
.homepage-items .how-it-works span{

	margin-top: 30px;

}
.how-it-works span{
    color: #222;
    background: #fff;
    display: inline-block;
    padding: 10px 25px;
    background: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    -moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
    font-size: 16px;
    cursor: pointer;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.homepageslide{
	text-align: center;
	position: relative;
	margin: 0px;
}

.slider .indicators .indicator-item{
	background: #fff;
}
.slider .indicators .indicator-item.active{
	background: #99ff00;
}

.homepage-container .indicators{
	position: relative;
	z-index: 33;
	margin-top: -30px;
}



/*Featured Tutor*/
.featured-tutor{

	background-image: url('/images/featured-tutors/mistertutor.jpg');
	background-size: cover;
}
.featured-tutor img.avatarbg{
	max-height: 300px;
}
.featured-tutor-text{
	text-align: center;
}
.featured-tutor-text h2{
	margin-top: 20px;
	background: #000;
	display: inline-block;
	padding: 5px 15px;
	color:#fff;
	font-weight: 700;
}
.featured-tutor-container{
	background: rgba(255, 255, 255, 0.7);
	background: rgba(0, 0, 0, 0.5);
	text-align: left;
	color:#fff;
}
.col.featured-col{

	padding:0px;
}
.featured-tutor-inside{

	padding: 15px 0px;
}
.fullsize .row, .profile-image{
	margin-bottom: 0px;
}
.featured-tutor-name{
	font-family: 'Quicksand';
	font-size: 45px;
	font-weight: 700;
	line-height: normal;
}
.featured-tutor-name a{
	color: #96FF00;
}
.featured-tutor-name a:hover{
	color: #bdff00;
}
.featured-tutor-link{
	border-top: solid 5px #555;
	margin-top:10px;
}
.featured-tutor-link a{
	background: #555;
	display: inline-block;
	padding: 5px 10px;
	color: #ccc;
}
.featured-tutor-subjects{
	font-family: 'Quicksand';
	font-size: 20px;
	margin-bottom: 10px;
	color:rgba(255, 255, 255, 0.79);
}
.featured-tutor-location{
	font-family: 'Quicksand';
	font-size: 26px;
	margin-top: -10px;
}
.featured-tutor-score{
	text-align: center;
	color:#ffb000;
	font-size: 25px;
}
