@charset "utf-8";

.basic-block{
	background: #fff;
	border: solid 1px #ccc;
	padding: 10px;
	margin-bottom: 15px;
}
.basic-block .title{
	font-size: 18px;
}
.basic-block .col{
	padding: 0px;
}
.basic-block .row, .block .row{
	margin: 0px;
}
.basic-block .switch{
	margin: 0px;
	margin-top: 5px;
}
.switch-text{
	padding: 5px;
}
.block-list a{
	display: block;
	padding: 5px;
}
.block-list a:hover{
	background: #efefef;
}
.block-list a.active{
	background: #444;
	color: #fff;
}
.block.active-block{
	text-align: center;
	border: solid 5px #57ce0d;
}
.block.active-block span, a.block.active-block{
	color: #57ce0d;
	font-weight: bold;
}
.block.messages-waiting{
	border: solid 5px #4CAF50;
}

ul.list li{
	margin-left: 25px;
	padding-left: 5px;
	position: relative;
	margin-bottom: 5px;
}
ul.list li:before{
	color: #999;
	width: 8px;
	height: 8px;
	background: #ccc;
	content: "";
	position: absolute;
	left: -15px;
	top:7px;

	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
}
ul.list li.active{
	color: #000;
}
ul.list li.active:before{
	background: #99ff00;
}

/* Autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #2196F3; color: #fff; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-selected strong{ color: #EFFF00;}
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
.autocomplete-suggestions.center-results{
	text-align: center;
}

/* Breadcrumbs */
.breadcrumb {
	list-style: none;
	overflow: hidden;
	font-size: 12px;
}
.breadcrumb li {
	float: left;
}
.breadcrumb li a {
	color: white;
	text-decoration: none;
	padding: 5px 0 5px 40px;
	background: #333;
	position: relative;
	display: block;
	float: left;
}
.breadcrumb li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #333;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}
.breadcrumb li a:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}
.breadcrumb li:first-child a {
	padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        #555; }
.breadcrumb li:nth-child(2) a:after { border-left-color: #555; }
.breadcrumb li:nth-child(3) a       { background:        #777; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #777; }
.breadcrumb li:nth-child(4) a       { background:        #999; }
.breadcrumb li:nth-child(4) a:after { border-left-color: #999; }
.breadcrumb li:nth-child(5) a       { background:        #ccc; }
.breadcrumb li:nth-child(5) a:after { border-left-color: #ccc; }
.breadcrumb li:last-child a {
	background: transparent !important;
	color: black;
	pointer-events: none;
	cursor: default;
}
.breadcrumb li:last-child a:before{
	border-left: none;
}
.breadcrumb li:last-child a:after { border: 0; }
.breadcrumb li a:hover { background: #2196F3; }
.breadcrumb li a:hover:after { border-left-color: #2196F3; }


.filter-by{
	float: right;
	margin-bottom: 20px;
	position: relative;
}
.filter-by a{
	padding: 0px;
	margin: 0px;

}
.filter-by ul{
	right: 0px !important;
	left: auto !important;
	min-width: 200px;
}

/* padding */
.padd{
	display: inline-block;
	width: 100%;
}
.padd5{
	padding: 5px;
}
.padd10{
	padding: 10px;
}
.padd15{
	padding: 15px;
}
.padd20{
	padding: 20px;
}

table{
	background: #fff;
}
/*
table tr:first-child{
	background: #2196F3 !important;
	color: #fff;
}
*/

span.badge.new{
	position: relative;
	float: right;
	margin: 0px;
	right: auto;
	margin-top: 5px;
	background: #CF0;
	color: #333;
}
footer span.badge.new{
	float: none;
	margin: 0px;
	background: #555;
	color: #ccc;
	padding: 0px;
	line-height: normal;
}


.mainfindatutor .container{
	padding-top: 0px;
	padding: 0px;
	max-width: inherit;
}
main .container-nopadd{
	padding-top: 10px;
	text-align: center;
}

.find-a-tutor, .find-a-job, .find-a-student{
	background: #fff;
	border: solid 1px #ccc;
}
.students-search-form{
	padding: 10px;
}
.findauser{
	background: #ececec;
	padding: 10px;
}
.tutor-search-form{
	margin: 10px;
}
.tutor-search-form legend{
	background: #efefef;
	font-family: 'Quicksand';
	font-weight: 700;
	font-size: 18px;
	display: inline-block;
	width: 100%;
	padding: 5px;
	margin-bottom: 30px;
}
.ok-login{
	background: #efefef;
}
.ok-login label{
	top:7px;
}

.alert{
	width: 100%;
	float: left;
	display: inline-block;
	padding: 5px 0px;
	text-align: center;
	font-size: 16px;
	margin: 10px 0px;
	position: relative;
}
.alert:before{
	padding: 5px;
	text-align: center;
	left: -10px;
	top:-10px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	position: absolute;
	background: inherit;
	display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)
}
.alert:before{
	content:"\f071";
}
.alert.alert-thanks{
	background: green;
}
.alert.alert-thanks:before{
	content: '\f00c';
}

.form-post{
	float: left;
	width: 100%;
	padding: 10px;
}

.bank-details{
	padding: 10px;
	float: left;
	width: 100%;
}

.reset-form{
	display: block;
	margin-top: 10px;
	text-align: right;;
}


.itsanoverlay{
	position: fixed;
	left: 0px;
	top:0px;
	z-index: 34;
	background: rgba(0, 0, 0, 0.72);
	width: 100%;
	height: 100%;
}
.shepherd-step{
	z-index: 333;
}

.block.tweets .description{
	padding: 0px;
}


.orsignup{
	background: #dedede;
	padding: 10px;
	text-align: center;
}

#scribblar{
	height: 600px;
}


.credit-errors{
	width: 100%;
	background: #000;
	color: #fff;
	padding: 25px;
	text-align: center;
	font-size: 24px;
	border: solid 2px #F44336;
}
.credit-errors span{
	color: #F44336;
}


.invisibleprofile main{
    background: #555;
    color:#fff;
}
.private-profile{
    text-align: center;
}
