.homepagerandom-1{
    background: url('/images/subs/find-a-tutor-1.jpg');
}
.homepagerandom-2{
    background: url('/images/subs/find-a-tutor-2.jpg');
}
.homepagerandom-3{
    background: url('/images/subs/find-a-tutor-3.jpg');
}
.homepagerandom-4{
    background: url('/images/subs/find-a-tutor-4.jpg');
}
.homepagerandom-5{
    background: url('/images/subs/find-a-tutor-5.jpg');
}
.homepage-banner{

    background-size: cover;
    height: 500px;
    padding-top: 0px;
    overflow: hidden;

}
.homepage-box{
    width: 80%;
    text-align: center;
    position: absolute;

    top:100px;
    z-index: 3333;

    position:absolute;
    left:0;
    right:0;
    top:18%;
    margin: auto;
}
.homepage-banner .indicators{
    padding: 10px;
    position: absolute;
    height: 40px;
    width: 100%;
    bottom:80px;
    z-index: 333;
}
.slider .indicators .indicator-item{
    background: #fff;
}
.homepage-copytext{
    font-family: 'Quicksand';
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0 20px black;
    font-weight: 700;
}
.homepage-search-bar{
    position: relative;
}
.homepage-search-bar input[type=text]{
    background: #fff;
    padding: 0px;
    margin: 0px;
    line-height: normal;
    height: auto;
    padding:15px 10px;
    box-sizing: border-box;
}
.homepage-search-bar input:active, .homepage-search-bar input:focus{

    -moz-box-shadow: 0 0 20px #57AD57 !important;
    -webkit-box-shadow: 0 0 20px #57AD57 !important;
    box-shadow: 0 0 20px #57AD57 !important;
}
.spinning{
    padding: 10px;
    color: #fff;
    background: #000;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 51px;
}
.spinning span{
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
}
.spinning i{
    color: #96FF00;
    font-size: 20px;
}
.content-blocks{
    float: left;
    width: 100%;
}
.tutor-features i{
    font-size: 18px;
}
.tutor-features.collection .collection-item{
    padding: 10px;
}
.content-blocks-about{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
.content-blocks-about-next{
    margin-bottom: 15px;
}
.content-blocks-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand';
    font-weight: 600;

}
.top-subs a:hover{
    text-decoration: underline;
    color: #0084dd;
}
.howitworks-homepage-img{
    text-align: center;
    font-size: 73px;
    display: block;
}
.howitworks-homepage-title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.howitworks-homepage-text{
    margin-bottom: 10px;
    text-align: center;
}
.learn-more-about{
    margin-top: 15px;
    text-align: center;
}
.learn-more-about a{
    color: #aeea00;
}
.hiw-block{
    background: #2196F3;
    color: #fff;
}
.hiw-block a{
    color: #d4ff00;
}
.content-block:before{
    width: 100%;
    height: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.24+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    content: "";
    position: absolute;
    left: 0px;
    top:0px;
}
.content-block{
    position: relative;
    padding: 30px;
        padding-top: 20px;
    margin: 1px 0px;
}
.about-avidbrain{
    background: #57AD57;
    background:
    linear-gradient(
      rgba(88, 173, 88, 0.9),
      rgba(88, 173, 88, 0.5)
    ),
    url('/images/homepage-slides/penandpaper.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
.howitworksnewhomepage{
    background: #0099ff;
    background:
    linear-gradient(
      rgba(0, 153, 255, 0.9),
      rgba(0, 153, 255, 0.5)
    ),
    url('/images/homepage-slides/city.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
.about-avidbrain a{
    color: yellow;
}
.tutor-features{
    color: #333;
}
.top-subjects{
    background: #fff;
}
.featured-tutor{
    background: #333;
    color: #fff;
}
.featured-block-img img{
border: solid 5px #fff;
}
.featured-block-name{
    font-size: 32px;
    margin-bottom: -10px;
    font-family: 'Quicksand';
}
.featured-block-location{
    margin-bottom: 10px;
    color: #ccc;
    font-size: 14px;
}
.featured-block-subjects{
    margin-bottom: 10px;
    color: #d4ff00;
    font-size: 12px;
}
.featured-block-about{
    margin-bottom: 10px;
}
.featured-block-view{
    margin-top: -7px;
}
.featured-block-view a{
    color: #222;
    background: #fff;
    padding: 2px 10px;
    font-size: 12px;
}
.featured-on{

    background: #6d019d;

      background:
      linear-gradient(
        rgba(109, 1, 157, 0.9),
        rgba(109, 1, 157, 0.5)
      ),
      url('/images/homepage-slides/plains.jpg');
      background-attachment: fixed;
      background-size: cover;
      color: #fff;
}

.testimonials{

    background: #6d019d;

      background:
      linear-gradient(
        rgba(60, 60, 60, 0.9),
        rgba(60, 60, 60, 0.5)
      ),
      url('/images/homepage-slides/city.jpg');
      background-attachment: fixed;
      background-size: cover;
      color: #fff;
}

.featured-logos a{
    display: inline-block;
    padding: 5px 15px;
}
.featured-logos a img{
    max-height: 30px;
}
.topsubslist a:hover{
    color: #0050d7;
}
.featured-name{
text-align: center;

}
.featured-name a{
    background: #00c230;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;

}
.featured-name a:hover{
    background: #009e27;
}
.quote-container{
    margin-top: 15px;
}
.quote-user{
    padding: 10px;
}
.actual-quote{
    font-size: 18px;
    position: relative;
}
.actual-quote-from{
    font-size: 14px;
    color: #ccc;
    text-align: right;
    padding-right: 40px;
}
.open-quote, .close-quote{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Quicksand';
    display: inline-block;
    color:#00c230;
    position: absolute;

}
.open-quote{
    margin-left: -20px;
    margin-top: -15px;
}
.close-quote{
    margin-left: 5px;
    margin-top: -10px;
}

@media (max-width: 500px){
    .homepage-copytext{
        font-size: 28px;
    }
    .top-subject-list .content-blocks-title{
        font-size: 22px;
    }
    .topsubslist a{
        display: block;
        padding: 5px;
    }
    .topsubslist a span{
        display: none;
    }


}
@media (max-width: 701px) and (min-width:501px){
    .homepage-copytext{
        font-size: 32px;
    }
}

@media (max-width: 740px){
    .featured-logos a{
        display: block;
        text-align: center;
    }
    .howitworks-homepage-img{
        font-size: 40px;
    }
}
