<!DOCTYPE html>
<html>
<head>
	<title> Whoops, Something Happened </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="description" />
	<meta name="keywords" content="keywords" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link href="/css/whoops.css" rel="stylesheet">
</head>
<body>
	<div class="logo">
		<a href="/"><img src="/images/MindSpreeLogo.png" /></a>
	</div>
	<div class="container">

		<h1 class="custom-error">
			Whoops, Something Happened
			<span class="fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-bolt fa-stack-1x lime-text"></i>
			</span>
		</h1>

		<p>
		    There was an error. Sorry about that, an admistrator has been notified of the issue and will fix the problem as soon as possible.
		</p>

		<p>Here are some possible temporary fixes: </p>

		<ul class="collection">
			<li class="collection-item">
				Clear Your Cache
			</li>
			<li class="collection-item">
				Delete Your Cookies
			</li>
			<li class="collection-item">
				Close Your Browser
			</li>
			<li class="collection-item">
				Open a New Browser
			</li>
			<li class="collection-item">
				If none of this works, please <a href="/help/contact">email support</a>.
			</li>
		</ul>

	</div>
</body>
</html>
